<link rel="stylesheet" href="/en/css/about.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>About Creating Code Company</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; About Creating Code Company</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <p>Creating Code Company is a high technology company invents 'statistical probability simulation and data analyzation software'. The software is capable to deal with tremendous data and global unparalleled design statistic probability software P_S_CCC. <br />
          <br />
          Creating Code Company owns the global unparalleled design and capacity to handle tremendous data and statistical probability. Creating Code Company's software has strength and characteristics of high technology software which also has massive mathematical analysis capabilities and highly computer processing performance.<br />
          <br />
          It can not only apply for analyzing and simulating on financial, engineering, industrial, medical, business, academic but also apply on teaching and high technology research.<br />
          <br />
          Creating Code Company adopted artificial intelligence to design the very own software so the capacity and performance are effectively promoted. The programming is develop independently. We use method of moments approach for probability distribution and all statistical verification data. The programming design and develop independently. About our probability distribution test, we adopted moment coefficient method and all statistical test data by self-demonstrated.<br />
          <br />
          Creating Code Company founded due to probability distribution analysis is limited by probability distribution transformation can not use various probability methods and models effectively and it even affect the statistics analysis and test statistic critical value established. So Creating Code Company self-developed probability simulate software, and the software has follow the probability distribution transformation requirement to design and be able to analyze all kind of probability distribution transformation. It was taking three years to developed the probability software and taking half year to completed the design of statistic analysis software.<br />
          <br />
        </p>
        <h3>1. About probability distribution section：</h3>
        <p> Whatever the discrete random variance or continuous variance or both variances are not effect by random variances (be able to process the law of large numbers) and the mathematical transformation method is unlimited. It can analyze the relations between one random variance, two random variance and finite variances whatever they are independent variance or related random variance (includes Bayesian probability distribution). It offers 2D graphic,3D graphic and dynamic (4D) graphic of probability distribution analysis and probability distribution and estimated equation of probability coefficient (curve fitting) and probability table. You can choose different approaches to produce independent equation or Bayesian requirement, further, it can process multi-dimensional variances and the range of values can be key in after the data setting. <br /><br />
        </p>
        <h3>2. About statistic section：</h3>
        <p> It can use the setting simulated statistic data or access data from your file. We adopt various self-developed test statistic and analysis according to our probability software. People can continue use probability software after data analysis completed or reuse various statistic analysis. Creating Code Company's probability and statistic analysis software are written in C language and it is modularity and adopt menu operating, connecting program design for user-friendly which means when two group sample analysis processing, the user can switch to another sample analysis. <br />
          <br />
          <b>Special statistic method：</b><br />
          1. The curve-linear analysis。<br />
          2. The experiment design error not specified to normal distribution<br />
          3. Accurate Durbin Watson test critical region value <br />
          4. Accurate canonical analysis critical region value <br />
          5. Goodness of fit test provide 20 continuous distribution analysis and able to acquire the optimize parameter<br />
          6. Test variance equal or not equal in variance analysis and regression analysis <br /><br />
        </p>
        <h3>3. Software effectiveness：</h3>
        <p> All data result error estimate approximately less than 1/1000. The software is highly performance which merely takes 1 minute to transform 2 random variances on intel core i7-3630M, the numbers of random variances and mathematic function affect the software performance speed. Common statistic software can be divided into 2 levels: one is for data calculation another one is for sample data simulation, however, not only slow also can not meet the requirement of cloud calculation. Due to the probability simulator has powerful functions and highly performance, the statistic analysis software will not limit by the statistic table, data volume and sample data. Creating Code Company offers the probability distribution transformation be able to acquire various statistic volume also be able to process 100,000,000 data analysis promptly. For example, it merely takes 2 minutes to process 5,000,000 data of multiple regression analysis with 3 variances and complete 3,000,000 data simulation within 30 seconds. <br /><br /></p>
        <h3> 4. Company service：</h3>
        <p> Creating Code Company's software can process 'universe data simulations', ''sample data simulations' and 'statistical data calculations'. The 'probability distribution transformation' section is Creating Code Company's leading software not only highly performance but also offer customized simulator software design. It can develop radically on current limited probability distribution transformation, it can process various mathematical analysis on probability theory and statistics no longer limited by mathematical transformation. Creating Code Company has researched and developed for 3 years due to this simulator technology is extremely unique. Currently only Creating Code Company owns this 'probability distribution transformation simulator' technology, and it is a significant progressing in 'numerical analysis'. Definitely the probability software is highly upgraded acquire to the artificial intelligence and the optimize analysis on statistic analysis software. </p>
      </div><!--left-->
      <div class="right">
        <div class="up">
          <h3>Probability model software</h3>
          <p>has 3 partial<br />
            1. Design of universe probability <br />
            　distribution<br />
            2. Design of mathematical<br />
            　transformations<br />
          3. Result</p>
        </div>
        <div class="down">
          <h3>Statistic analysis software </h3>
          <p>It can be used as probability software to demonstrate simulated samples, data(our software offer 58 probability distribution and related Bayesian probability distribution) or key in sample data directly.</p>
        </div>
        <div class="social-link"> <a href="https://www.facebook.com/pages/%E5%89%B5%E7%A2%BC%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/234566506732005" target="_blank"> <img src="/en/images/f1.png"/>
          <p>ccco official fanpage</p>
          </a> </div>
        <div class="social-link"> <a href="https://www.facebook.com/groups/1413815795552174/" target="_blank"> <img src="/en/images/f1.png"/>
          <p>ccco official facebook group</p>
          </a> </div>
        <div class="social-link"> <a href="https://twitter.com/ccco2012012" target="_blank"> <img src="/en/images/f2.png"/>
          <p>ccco official Twitter</p>
          </a> </div>          
      </div><!--right--> 
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->