
<link rel="stylesheet" href="/en/css/buydl.css">


<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Purchase/Download</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Purchase/Download</div>
    <!--crumb-->
    <div id="content"> <img src="/en/images/sv-01.gif"/>
      <div id="msg">
        <h4>Pre-order probability distribution stimulator and statistical analysis software</h4>
        Please inform Creating Code Company via <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com </a> for your pre-ordering book amount </div>
      <p>Current available only in Taiwan R.O.C. Other countries are available from July 1, 2014<br />
        The price may vary please confirm and check on our official website.<br />
        There will be upgraded version after/including year 2016, Creating Code Company's 'Probability distribution stimulator and statistic analysis software' may amend software version every half year, and versions available on the company's official website, users can optional choose. If textbook purchasers would like to resell their textbooks, the transferred charge of 'the lifetime usage and membership qualified' is USD$100, if the purchasers have not complete the transferred procedure, the membership qualified would be recognized the original/registered textbook purchasers. Creating Code Company owns the software program 'menu' copyright. Any form of business behavior (including words, educational training, sound and image) usage are prohibited. Members can have 10 enquiries per year, company will response via image or video. Moreover, members can attend annual meeting (without further charge) and can get 10% off on educational training and free seasonal technology notification (via e-mail). <br />
<br />
1. 2014 Creating Code Company All rights reserved <br />
2. The free download usage until December 31, 2015<br />
3. Please inform Creating Code Company via cccpro180@gmail.com for your pre-ordering book amount
</p>
      <br />
      <br />
      <img src="/en/images/sv-01.gif"/>
      <h3>Free download Probability Distribution Stimulator and Statistical Analysis Software <br>
      <span> PSCCCEnglish.rar / 582.76 MB</span></h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="77%" valign="top"><div class="download">
              <h4>Global</h4>
              <a href="https://mega.co.nz/#!ypBlyb6Z!Icw-DZchswqU-J4zRQ3r2GNTgBLVvfbEInWQpewdLXQ" target="_blank"><img src="/en/images/icon-1.png"/> MEGA </a> <a href="http://ubuntuone.com/1wROfT2mYKhNw53MjoFvwx" target="_blank"><img src="/en/images/icon-2.png"/> Ubuntuone </a> <a href="https://www.nortonzone.com/pickup/125968?key=RmWKTuQzaz-UjE6A1QjEHqZbkbUgiEtNZh2YiYV6karZ4AfubgWG3WyVBz2OT-D6&amp;src=url" target="_blank"><img src="/en/images/icon-3.gif"/> Nortonzone </a> <a href="https://drive.google.com/file/d/0BwqDhbEyW3lVejR0LV9KUUR6bDQ/edit?usp=sharing" target="_blank"><img src="/en/images/icon-4.png"/> Google Drive </a> <a href="http://1drv.ms/1g39n6t" target="_blank"><img src="/en/images/icon-5.png"/> Skydrive </a> <a href="http://l.bitcasa.com/SkuCrsiV" target="_blank"><img src="/en/images/icon-6.png"/> Bitcasa </a> <a href="https://www.idrive.com/idrive/sh/sh?k=g2b2o6q4a6" target="_blank"><img src="/en/images/icon-7.png"/> iDrive </a> <a href="https://shared.com/3pvvzkvw1j?s=l" target="_blank"><img src="/en/images/icon-8.png"/> SHARED </a> <a href="https://www.dropbox.com/s/1sejgv7dyyhgwps/PSCCCEnglish.rar" target="_blank"><img src="/en/images/icon-9.png"/> Dropbox </a>
              <a href="https://copy.com/evaWDJEQwd7r" target="_blank"><img src="/en/images/icon-12.png"/> COPY </a>
              <a href="https://www.cubby.com/pli/PSCCCEnglish.rar/_5bd22c9bc06846dcaf5698697ca2de2c" target="_blank"><img src="/en/images/icon-14.png"/> Cubby </a>
              <a href="http://pc.cd/mM4" target="_blank"><img src="/en/images/icon-16.png"/> pCloud </a>
              <a href="https://truck.it/p/8vI1sF_xaz" target="_blank"><img src="/en/images/icon-17.png"/> DumpTruck </a>
              <a href="http://depositfiles.com/files/bclhtrggk?redirect" target="_blank"><img src="/en/images/icon-18.png"/> DepositFiles </a>
              <a href="http://www.4shared.com/rar/SZginqJ9ce/PSCCCEnglish.html" target="_blank"><img src="/en/images/icon-19.png"/> 4shared </a>
               </div></td>
          <td width="23%" valign="top"><div class="download full">
              <h4>China</h4>
              <a href="http://yunpan.cn/QIS63EPZqSnxc" target="_blank"><img src="/en/images/icon-10.png"/> 360 云盘 </a> <a href="http://yun.baidu.com/share/link?shareid=248956189&amp;uk=4131785101" target="_blank"><img src="/en/images/icon-11.png"/> 百度云盘 </a> <a href="http://115.com/lb/5lbderarlap6" target="_blank"><img src="/en/images/icon-15.png"/> 115 网盘 </a>               
              
            </div></td>
        </tr>
      </table>
      <div id="info"> <b>Installation steps:</b><br>
        1. After you have downloaded the file please extract it on drive C.<br>
        2. Confirm your folder has replaced, then click apply to every item<br>
        3. When it shows on the window and it has the same name(user), click
replaced and apply to every collision<br>
        4. The file will automatically generate the shortcut of the program
pro_statistic_java_advance click to start<br>
        <br>
         ※ Notification:<br>
﹡User must download java to operate this program<br>
﹡this program can only install at driver C to operate please do not install at 
other drivers<br>
﹡the usage period will countdown automatically after the users started this 
program. Please notice the remains times          <br>
        <br>
        <b>System Requirements：</b><br>
        <strong>﹡Operating system : </strong>Windows 7 / 8〈For Mac users please install Parallels Desktop to operate windows system〉 <br>
        <strong>﹡CPU : </strong>Intel Core 2 Duo 2.4 GHz or 
        AMD Athlon 64 X2 5600+ 2.8 GHz <br>
        　　　　 Intel Core i7 and AMD Phenom II X6 series are the best processor for operate this 
        program <br>
        <strong>﹡Memory : </strong>2 – 8 GB or higher <br>
        <strong>﹡Hard disk space : </strong>at least 7 GB of hard drive space<br>
     
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->