
<link rel="stylesheet" href="/en/css/contact.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Contact us</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container" _height="auto">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Contact us</div>
    <!--crumb-->
    <div id="content">
      <h3>Creating code company</h3>
      <p>Company address: 10F, 180, Section 2 Dun Hua South Road, Taipei City 10669 <br>
        Company telephone number: 02-2736-0981, 02- 2736-0982 <br>
        Contact mobile number: 0978501575, 0983131741<br>
        Service time: 9a.m. ~ 5p.m. Monday to Friday<br />
        email：<a href="mailto:ccco2012012@gmail.com">ccco2012012@gmail.com</a> <br />
        <br />
      </p>
      <img src="/en/images/ct-map.jpg"/> </div>
  </div>
</div>
<!--container-->