<link rel="stylesheet" href="en/css/info.css">


<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Probability distribution stimulator &amp;<br> statistical analysis software</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Current Product &gt; Probability distribution stimulator and statistical analysis software</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3> Probability distribution<br />
          stimulator &amp;<br />
statistical analysis<br />
software</h3>
        <ul>
          <li><a href="info.html">Software illustrate</a></li>
          <li class="active"><a href="detail.html">Function introduction</a></li>
          <li><a href="feature.html">Software characteristics</a></li>
        </ul>
        <div class="bt"> <a href="buydl.html"></a> </div>
      </div>
      <div class="right" id="detail">
        <h5>Probability distribution stimulator &amp;         statistic analysis software</h5>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>單元</th>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_01.pdf" target="_blank">Bayesian Theorem</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_02.pdf" target="_blank">One sample data</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_03.pdf" target="_blank">Two sample data </a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_04.pdf" target="_blank">Experiment design</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_05.pdf" target="_blank">Regression analysis</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_06.pdf" target="_blank">One population proportion</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_07.pdf" target="_blank">Two population proportion</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_08.pdf" target="_blank">Independent test</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_09.pdf" target="_blank">Homogenous test</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_10.pdf" target="_blank">Goodness of fit test</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_11.pdf" target="_blank">Multiple variances analysis</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_12.pdf" target="_blank">Probability distribution stimulator</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_13.pdf" target="_blank">Bayesian distribution stimulator</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_14.pdf" target="_blank">The sample data generator</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/en/manual_15.pdf" target="_blank">Two dependent correlation coefficient test</a></td>
  </tr>
</table>

      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->