
<link rel="stylesheet" href="en/css/info.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Probability distribution stimulator &amp;<br> statistical analysis software</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Current Product &gt; Probability distribution stimulator and statistical analysis software</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
       <h3> Probability distribution<br />
          stimulator &amp;<br />
statistical analysis<br />
software</h3>
        <ul>
          <li><a href="info.html">Software illustrate</a></li>
          <li><a href="detail.html">Function introduction</a></li>
          <li class="active"><a href="feature.html">Software characteristics</a></li>
        </ul>
        <div class="bt"> <a href="buydl.html"></a> </div>
      </div>
      <div class="right" id="feature"> <img src="en/images/sv-01.gif" width="126" height="63" />
        <h5>The characteristics of 'probability distribution stimulator and statistic analysis software'</h5>
        <b><span>1</span>Probability distribution stimulator</b>
        <p>Current other software do not have this function, Creating Code Company has offered selfishless free 30 continuous probability distribution and 6 discontinuous distribution stimulator be able to stimulate the probability distribution coefficient and probability distribution graphic and the parameter functions contain more than 30 mathematical equations, it is the unparalleled stimulator. The stimulated joint probability distribution and marginal probability distribution can be demonstrated by 3D graphic and 2D graphic.</p>
        <b><span>2</span>Rapidly and tremendous data generator</b>
        <p>Utilize probability distribution stimulator can produces sample data which means take probability distribution as population probability distribution and according this probability distribution stimulate sample data. It takes 2 minutes to produce maximum 30,000,000 sample data by population probability distribution.</p>
        <b><span>3</span>Simple equipment and economical</b>
        <p>Enjoy i-cloud computing and tremendous data analysis by using PC or Notebook contain 4G computer storage and windows 7 or higher windows system.</p>
        <b><span>4</span>Operate easily </b>
        <p>All pull-down menu, people finish the code by input optional functions and numbers and complicated operating is unnecessary.</p>
        <b><span>5</span>Co-exist with other programs</b>
        <p>It can utilize it with other program simultaneously, users can do editing and typesetting directly while output result has completed.</p>
        <b><span>6</span>Use single function and other function links repeatedly</b>
        <p>For example, simple regression analysis has 10 analysis methods, users can process one of them then try other function to compare which analysis method has highly performance. </p>
        <b><span>7</span>Multiple input population distribution method</b>
        <p>It offers related population and independent population input methods and the probability distribution stimulator usage or sample data production are user-friendly. </p>
        <b><span>8</span>Comprehensive output data</b>
        <p>For instance, regression analysis can output each procedure, users can understand each procedure.</p>
        <b><span>9</span>Test statistical sampling distribution to developing test critical value</b>
        <p>All critical value are transformed by probability stimulator with test statistical sampling distribution to test critical value is accurately not limited by distribution and statistical mathematics.</p>
        <b><span>10</span>Free software and offer Mandarin Chinese service</b>
        <p>The software is complimentary, members can have 10 free enquiries per year, and our response via PowerPoint or digital clip. Mandarin Chinese (Traditional) version software is available due to the software was invented and created by Taiwanese.</p>
        <b><span>11</span> This software has reserved fully copyright which means only for individual use without any form of business activities</b>
          <p>Please refer to 'Creating Code Company statistic and operating  booklet price' page if any business activities involved. There will be additional charge after January 1, 2016 when updated software available.</p>
        <b><span>12</span>Statistic analysis function are multiple, convenient, superior difficult, highly technology and accurate</b>
        <p>Utilize output data or probability distribution stimulator to acquire sample data for statistical analysis. 
Creating Code Company can process probability distribution stimulator, the statistical sampling distribution is not a problem neither. 'Probability distribution stimulator and statistical analysis software' establish lots of exclusive test statistic and test standard is more adoptable than current used statistic.
       
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">Without advance mathematical foundation be able to understand statistical processing and concept. Utilize the probability distribution stimulator produced sample data to do statistical analysis and understand differentiation among different statistical analysis whatever dependent or independent requirements and unspecified probability distribution limitation (usually use normal distribution). It is more convenient for self-learning and teacher's tutoring. </td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">Operating characteristics curve and power function graphic</td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">Experiment design (variance analysis) has 10 error distribution and can select and stimulate sample data contain lots of illustrations. </td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">Regression analysis process curve-straight liner model and normal regression analysis also the best hierarchical linear modeling </td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">Multi-variance analysis adopt k variance to establish k x (2k-1-1) straight liner model and establish related model influences on each variance </td>
          </tr>
          <tr>
            <td align="center" valign="top">6.</td>
            <td valign="top">Goodness of fit test has 20 continuous probability distribution and 7 discontinuous probability distribution to be null hypothesis, and find the best parameter via wisdom analysis and find the best mathematical estimated equations to explain the sample data via curve estimation. The estimated equations can produce probability distribution and provide the mathematical equations of explained sample data. </td>
          </tr>
          <tr>
            <td align="center" valign="top">7.</td>
            <td valign="top">Sampling distribution of correlation coefficient test in two correlation population  
When test population correlation coefficient designated value (the value not equal to zero), Zr test statistic is not symmetrical distribution (Z distribution is symmetrical distribution). Creating Code Company alter to utilize stimulator to acquire critical value. 
</td>
          </tr>
          <tr>
            <td align="center" valign="top">8.</td>
            <td valign="top">Sampling distribution of variance equal test of two kind’s factor 
Currently, there is no this kind of test statistic. Creating Code Company utilize stimulator to acquire critical value.
</td>
          </tr>
          <tr>
            <td align="center" valign="top">9.</td>
            <td valign="top">Durbin Watson has no grey area with central limit theorem </td>
          </tr>
          <tr>
            <td align="center" valign="top">10.</td>
            <td valign="top">It can process 'data mining' analysis </td>
          </tr>
          <tr>
            <td align="center" valign="top">11.</td>
            <td valign="top">It can process the 8th layer of Bayesian theorem</td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
            <td valign="top" style="color:#E02954">[ Above functions are free ]</td>
          </tr>          
        </table>
        </p>
        <b><span>13</span>Applicable users</b><br /><br />
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top">1.</td>
            <td width="97%" valign="top">Statistic students and other statistic learners, the software can use as   self-learning or as an auxiliary software. There is no need to prepare data, it can stimulate data by requested probability distribution (data volume up to 30,000,000) to analyze statistic and compare various condition and analysis relation. Without mathematical background to utilize the software to study advance statistics courses, moreover, it can assist students to complete school assessment and presentation report. </td>
          </tr>
          <tr>
            <td valign="top">2.</td>
            <td valign="top">To do high quality academic research and essay by the software</td>
          </tr>
          <tr>
            <td valign="top">3.</td>
            <td valign="top">To assist business or enterprise or financial or government department do data analysis and decision making.</td>
          </tr>
        </table>
       
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->
