<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= render 'layouts/en_meta' %>
<title>Creating Code Company</title>

<link rel="stylesheet" href="/en/css/reset.css">
<link rel="stylesheet" href="/en/css/style.css">
<link rel="stylesheet" href="/en/css/index.css">
    
</head>

<body>
<div id="header">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Global unparalleled statistical probability simulation and data analysis software <span>which process analysis and simulation on financial, engineering, industrial, medical, business, academic and utilize for teaching and high technology researching as well.</span></h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit"> <a href="/en/buydl.html">
    <div id="plus">-- free download --</div>
    </a><br>
    <div id="intro" class="article"> Creating Code Company has developed the 'statistical probability simulation and data analysis' software, this global unparalleled software is capable to handle tremendous data and to design statistical probability software. Creating Code Company's software has strength and characteristics of high technology software which also has massive mathematical analysis capability and computer highly performance.<br>
      <span>Creating Code Company's software has divided into two main sections</span> </div>
    <div id="software" class="article">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%" valign="top" class="left"><h3>Probability model software</h3>
            <p>has 3 partial<br>
              1. Design of population probability distribution<br>
              2. Design of mathematical transformation<br>
              3. Result</p>
<a href="/en/product.html" style="margin:50px 0 0 0">詳細介紹</a></td>
          <td width="50%" valign="top" class="right"><h3>Probability distribution simulator &amp; statistical analysis software
</h3>
            <p>Creating Code Company offer free downloading and experiencing high technology ‘cloud computing’,
 ’artificial intelligence’, ‘cloud data handle capacity’              
            </p>
            <a href="/en/info.html" style="margin:15px 0 0 0">詳細介紹</a></td>
        </tr>
      </table>
    </div>
    <div id="service" class="article">
      <h4>Creating Code Company service catalogue</h4>
      <h3>We accept to design the <br />
simulate software as following</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="53%"><ul>
              <li><span>1</span>simulate software design of statistics and probability and data <br />
              　　　analysis / data prospect of statistics and probability</li>
              <li><span>2</span>simulate software design and data analysis of dynamic data</li>
              <li><span>3</span>simulate software design and data analysis of Bayesian analysis <br />
              　　　method (pretest and posttest distribution amount are no limits)</li>
              <li><span>4</span>Economics, Financial, Insurance, Management and so on business<br />
　　　dynamic simulate software design and data analysis/prospect</li>
              <li><span>5</span>simulate software design and data analysis of biological statistics</li>
              <li><span>6</span>Software design and data analysis of new statistics probability graphic<br />
　　　and critical value</li>
            </ul></td>
          <td width="47%"><ul>
              <li><span>7</span>Software design and data analysis of system analysis and <br />
              　　　system integration</li>
              <li><span>8</span>simulate software design and data analysis of quality control <br />
              　　　data </li>
              <li><span>9</span>Analysis of 2D graphic, 3D graphic, dynamic graphic and <br />
              　　　estimate function (curve fitting)</li>
              <li><span>10</span>Electronic and Electronic engineering logical design</li>
              <li><span>11</span>Failure rate analysis</li>
              <li><span>12</span>Other probability related and statistics applying fields</li>
            </ul></td>
        </tr>
      </table>
    </div>
    <div id="note">
      <h3>Creating Code Company accept customized software or probability and statistical analysis service.</h3>
      <p>Creating Code Company provides various customized data analysis and simulate software design to popularize the high technology and high quality with inexpensive price to contribute the society. ’’Creating Code Company’’ provides free pre-planning data analysis and simulate software, customers may purchase after free trial used in order to facilitate the ‘’statistics and probability simulator’’ concept.</p>
    </div>
  </div>
</div>
<!--container-->
<div id="footer" >
  <div class="limit"> © 2014 Createing Code Company. All rights reserved. </div>
  <!--limit--></div>
<!--footer-->


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44112736-1', 'psccc.com.tw');
  ga('send', 'pageview');

</script>
  
  <!-- Google Code for &#25152;&#26377;&#21517;&#21934; -->
	<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 989030247;
		var google_conversion_label = "vhelCKmPowYQ587N1wM";
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/989030247/?value=0&amp;label=vhelCKmPowYQ587N1wM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>


</body>
</html>
