<link rel="stylesheet" href="en/css/info.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Probability distribution stimulator &amp;<br> statistical analysis software</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Current Product &gt; Probability distribution stimulator and statistical analysis software</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3> Probability distribution<br />
          stimulator &amp;<br />
statistical analysis<br />
software</h3>
        <ul>
          <li class="active"><a href="info.html">Software illustrate</a></li>
          <li><a href="detail.html">Function introduction</a></li>
          <li><a href="feature.html">Software characteristics</a></li>
        </ul>
        <div class="bt"> <a href="en/buydl.html"></a> </div>
      </div>
      <div class="right" id="info">
        <h4>1</h4>
        <p>’’Statistic analysis software’’ and ’’Stimulate probability distribution sample software’’ are not high technology software office and to facilitate statistic analysis and data stimulations so we combine<br />
          <b>1. partial 'probability distribution transformation software'<br />
          2. stimulate ‘’probability distribution sample software’’<br />
          3. ’’statistic analysis software’’</b> </p>
        <p> as one software and named 'probability distribution stimulator and statistic analysis software' product and offer free download service until December 31, 2015. Creating Code Company offer free downloading service on 'simple booklet and statistic textbook partial content' for users self-learning usage until December 31, 2015. If you would like to know the functions and operating details, please refer to 'statistic textbook (combine and demonstrate statistic software and theory)' and ' detailed descriptive operating booklet' for users' operating, paper publishing and teaching. However, the textbook’s price (please refer the textbook purchasing webpage for details), the textbook purchasers own the output result of software business usage (natural person only, not legal person, excluding book published and lecture notes) and free using software right at least 5 years (including updated version). The free downloading software which is not a trail but a completed version which offer multidimensional data stimulate and statistical analysis. This software can analyze in high speed, and operate easily with powerful analyze function which is a superior statistic software and people understanding for. The free downloading time commences from March 31, 2014 until December 31, 2015. </p>
        <h4>2</h4>
        <p>Free download 
the function introduction of 'probability stimulator and ‘’Statistic analysis software’’ is no longer high technology software, Creating Code Company provide free download for users to experience high technology software so we add up 'cloud computing', 'artificial intelligence' and 'cloud data processing'.
</p>
        <p><b><span>1</span>cloud data</b><br />
          Creating Code Company consider within 30,000,000 numerous data could not be named ’’cloud data’’ and so called more than 30,000,000 numerous data are cloud data. This software can analyze 30,000,000 numerous data which exceeds current statistic analysis software.</p>
        <p><b><span>2</span>cloud computing</b><br />
          It merely takes 25 seconds to calculate stimulate normal distribution  value and takes 30 seconds to sorting this data ordinary (random produced numbers).
It only takes 15 seconds to stimulate regression analysis sample data which has 50 variances and 100,000 data and merely takes 4 seconds to calculate 50x50
  reverse matrices. 
<br />
          Note 1：Each normal distribution calculate by cosine function and sine function<br />
          Note 2：Using one thread on Laptop i7-3630QM<br />
          Note 3：This stimulation is not Monte Carlo method or numerical analysis method</p>
        <p><b><span>3</span>To utilize the software and other programs at the same time</b><br />
          they will not affect each other and the software does not control computer system.</p>
        <p><b><span>4</span>The software can process statistic analysis repetitively by data input.</b><br />
        If users does not have data, they can utilize stimulator sample data to process statistic analysis. It can assist self-learning and understanding by stimulate different condition.      </p>
        <p><b><span>5</span>Provide a method to confirm 'probability stimulator and statistic analysis software' is accurate</b><br />
          and users capable to do self-confirming the statistic analysis method is accurate or not.<br />
          <img src="en/images/if-04.jpg"/></p>
        <p><b><span>6</span>Provide data mining analysis function and method</b><br />
          <img src="en/images/if-05.jpg"/></p>
        <p>'Probability distribution stimulator and statistic analysis software' functions as following:<br /><br />

          <b class="child">1. Probability distribution section</b><br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">basic probability distribution has 30 continuous probability distribution and 6 discontinuous probability distribution available.</td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">It provide various input methods to confirm random variance relations and proper probability distribution which has 'independent and same distribution', 'independent different distribution', 'Bayesian probability distribution' and 'excepted value vector and variance covariance matrix' and so on.</td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">To appear first 3 random variance marginal probability distribution and joint probability distribution and to utilize 2D graphic, 3D graphic to demonstrate marginal probability distribution and 2 random variance joint probability distribution. It also can set random variance range to acquire the setting range probability and conditional marginal probability distribution and conditional joint probability distribution. </td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">To calculate probability distribution coefficients </td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">To output probability distribution graphic and probability stimulator data (optional size) </td>
          </tr>
        </table>
        </p>
        <p><b class="child">2. Data generator section</b><br />
         To output ’’probability distribution section’’ sample data and use it as statistic analysis software data </p>
        <p><b class="child">3. Statistic analysis software function explanations</b><br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">Bayesian Theorem 
capable to process layer 8th probability</td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">One sample (including frequency distribution) test hypothesis of one population average mean and variance: population is normal distribution has OC curve and test function and test value graphic illustrated and sampling distribution as background. </td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">Two sample (independent or correlation) if population is normal distribution, the test and interval estimation of two population average mean and variances</td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">experiment design (variances analysis) 
one-way AVONA, one-way AVONA re-sampling, two-way AVONA, two-way re-sampling, Latin square and three-way AVONA. AVONA analysis, 3 basic assumptions test and multiple comparison methods and graphics. Simultaneously,   <br>
(i)one-way AVONA transform into partial one-way AVONA analysis<br>
(ii) one-way AVONA re-sampling transform into one-way AVONA analysis <br>
(iii)two-way AVONA transform into one-way AVONA analysis
(iv)two-way AVONA re-sampling transform into one-way AVONA analysis
and interaction as one-way AVONA <br>
(v)Latin square transform into three-way AVONA analysis<br>
(vi)three-way AVONA transform into two-way AVONA re-sampling analysis <br>
<br>
it can select error distribution of one-way AVONA, two-way AVONA and two-way AVONA re-sampling has 10 probability distribution as stimulator produced sample data. If input data directly can utilize 'goodness of fit test' to confirm error population probability distribution. It can find the critical value depend on error probability distribution produced test statistic sampling distribution (utilize probability distribution stimulator). 
</td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">Regression analysis (including multiple regression analysis) 
simple regression analysis and multiple regression analysis with more details stepwise analysis and new developed curve-linear analysis. AVONA analysis and 3 basic assumptions test and regression coefficient test and graphics are included
</td>
          </tr>
          <tr>
            <td align="center" valign="top">6.</td>
            <td valign="top">One population proportion</td>
          </tr>
          <tr>
            <td align="center" valign="top">7.</td>
            <td valign="top">Two population proportion
divided to independent or correlation and invert repeated and invert unrepeated 
</td>
          </tr>
          <tr>
            <td align="center" valign="top">8.</td>
            <td valign="top">Independent test </td>
          </tr>
          <tr>
            <td align="center" valign="top">9.</td>
            <td valign="top">Homogenous test</td>
          </tr>
          <tr>
            <td align="center" valign="top">10.</td>
            <td valign="top">Goodness of fit test, Pearson Chi-square method, LR test, pp plot, 
Q Q plot, Kolmogorov- Smirnov method and curve-fitting to acquire probability distribution estimate line and estimate line of value. 
Here are optional 20 continuous population probability distribution and 7 discontinuous probability distribution and offer graphic illustrated also process a series of test from provided distribution. 
It has intelligent method it capable to find out certain population probability distribution parameter to explain this sample to replace point estimation. 
Whether discontinuous data or continuous curve-fitting data, they both can utilize sample to establish own probability distribution estimate line, value estimate line, data and mathematical equations.
</td>
          </tr>
          <tr>
            <td align="center" valign="top">11.</td>
            <td valign="top">Multi-variance analysis 
is not a traditional method which adopts multi-variances to choose one as dependent variance and other variance as independent variance to acquire regression straight line (regression straight line to establish line model from independent variance as one / two, ..... all variance,) 
To understand variance relations via line model and to establish estimation, comparison and correlation and to utilize the method do further research on 'mining data'. To utilize 'expected value vector and covariance matrix' input method to stimulate sample data of certain analysis method or 'Bayesian probability distribution' input method to stimulate sample data. For instance, 10 variances produce<img src="en/images/if-06.jpg"/>regression straight lines.</td>
          </tr>
          <tr>
            <td align="center" valign="top">12.</td>
            <td valign="top">Two correlation population correlation coefficient test </td>
          </tr>
          <tr>
            <td align="center" valign="top">13.</td>
            <td valign="top">Multi-variance is an equal test (experiment design and regression analysis 2nd basic assumption) but experiment design and regression analysis are different test statistic. Meanwhile, experiment design differs from model design has different test statistic  </td>
          </tr>
          <tr>
            <td align="center" valign="top">14.</td>
            <td valign="top">Random test 
(experiment design and regression analysis 3rd basic assumption)
</td>
          </tr>
          <tr>
            <td align="center" valign="top">15.</td>
            <td valign="top">Durbin Watson test 
(only test automated correlation equal to zero) regression analysis 3rd basic assumption
</td>
          </tr>
        </table>
        </p>
        <p> <b><span>7</span>Test</b><br />
          Users can be self-evaluated due to this software self-test method</p>
        <p><b class="child">1. Probability distribution section </b><br />
          To know probability distribution stimulator result is accurate by comparing produced probability distribution coefficient. For example, normal distribution <br />
          <img src="en/images/if-07.jpg"/> </p>
        <p><b class="child">2. data generator section</b><br />
          Probability distribution section is accurate and data generator is accurate as well. <br />
        </p>
        <p><b class="child">3. statistic analysis software section</b><br />
          To utilize 'probability distribution and data generator' to acquire numerous stimulate millions of sample data. According to the law of large numbers, sample calculated coefficient is closed to population distribution coefficient. Users can set probability distribution and parameter and sample size to test by following methods, an responsible company's software is capable offer testing method to confirm analysis function accuracy.  
Utilize probability distribution stimulator to acquire tremendous sample data and utilize statistic analysis to understand sample result and population distribution relation and difference to confirm this software accuracy.
</p>
        <p> Descriptive statistics<br />
          <img src="en/images/if-08.jpg"/></p>
        <p>Test and interval estimation of one population average mean and standard deviation <br />
          2.1. Known population variance, test and interval estimation of one population average mean<br />
          <img src="en/images/if-09.jpg"/><br>
          
          2.2. Unknown population variance, test and interval estimation of one population average mean<br />
          <img src="en/images/if-10.jpg"/><br />
          2.3. Known population average mean, test and interval estimation of one population average mean<br />
          <img src="en/images/if-11.jpg"/><br />
          2.4. Unknown population average mean, test and interval estimation of one population average mean<br />
          <img src="en/images/if-12.jpg"/><br />
          2.5. Population probability distribution goodness of fit test <br />
          <img src="en/images/if-13.jpg"/><br />
          To confirm 'test and interval estimation of one population average mean and standard deviation and goodness of fit test' calculation are accurate.<br />
          3. Multiple regression has 4 variances with straight line model without co-linearity<br />
          Population <br />
          X1 is  Normal(mu=10.000000,sigma*sigma=1.000000),<br />
          X2 is  Normal(mu=10.000000,sigma*sigma=100.000000),<br />
          X3 is  Normal(mu=-20.000000,sigma*sigma=25.000000),<br />
          X4 is  Normal(mu=-20.000000,sigma*sigma=16.000000),<br />
          X5 is  Normal(mu=H1,sigma*sigma=1.000000),<br />
          H1( X1,  X2,  X3,  X4 )=<br />
          1.000000+2.000000*X1+3.000000*X2+4.000000*X3+5.000000*X4<br />
          X1,X2,X3,X4,X5 pairs samples and sample size=5000000.<br />
          The linear model estimated line by the simulated sample data.<br />
          <img src="en/images/if-14.jpg"/><br />
          One straight line analysis<br />
          <img src="en/images/if-15.jpg"/ width="632"><br />
        <p>Here required residual which means total residual equal to zero and residual multiply independent variance equal to zero as well. The software has powerful performance to calculate tremendous number and capable to provide accurate calculation result. Users can do self-learning, tutoring, researching, analyzing, prospecting, comparing, decision-making and it is a free software without any charge so people should be appreciate and popularize the software.</p>
        </p>
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->