<link rel="stylesheet" href="/en/css/intro.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Software Introduction</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Software Introduction</div>
    <!--crumb-->
    <div id="content">
      <div id="intro" class="article">‘’Creating Code Company’’ has developed high technology simulator software, company specialize on cloud computing and simulator and has taken 5 years research and innovation to complete the following products.</div>
      <img src="/en/images/sv-01.gif"/>
      <h5>1. Developed software as following:</h5>
      <ul>
        <li><span>1</span>'Probability distribution transformation simulator (probability model)' (the only one in the world)</li>
        <li><span>2</span>'Statistic point estimate value, coefficient and test statistic simulator'(the only one in the world) </li>
        <li><span>3</span>simulate probability distribution sample software (data generator) (the only one in Chinese region)</li>
        <li><span>4</span>Probability distribution simulator and statistical analysis software (the only one in Chinese region)</li>
        <li><span>5</span>Durbin Watson model analysis software (the only one in the world)</li>
        <li><span>6</span>'Mathematical and physical point estimation' (MLE, MME, UMVUE and Goodness of fit test) analysis software <br />
　　 (the only one in the world)</li>
      </ul>
      <p> Above software are high speed performance and simulation and it can utilize on PC or notebook. Creating Code Company has developed the unparalleled probability simulator and curve fitting can complete various mathematical equation probability distribution or random variance internal limited probability distribution transformation. Since it is capable to complete all kinds of probability distribution transformation, so statistic test sampling distribution and point estimate distribution can be simulated and acquire critical value graphic of test statistic value.</p>
      <p> Without advance mathematical background can be able complete probability distribution research and higher statistical analysis. Simultaneously, it can discover human unsolved mathematic problems and test related formerly probability and statistic theorem and formula. For instance, regression residual has central limit theorem characteristics while limitation is enormous and Levene test is not F-distribution etc.</p>
      <p>It can create new solutions and analysis, for instance, Durbin Watson test critical value is inaccurate, Durbin Watson's expected value of test statistic value may not equal to 2, LM test degree of freedom and distribution are inaccurate. Game Theory decided value can be random variances, linear programming variance can fit probability distribution, fuzzy probability distribution can be normal distribution instead of the triangular distribution. </p>
      <p> Probability simulator is a leading momentous invention which make computer software capable to solve continuous mathematical problems and error less than 1/1000 with cloud computing function. Normal personal computer devices memory contain above 4G without high speed cpu can utilize this simulator.<br />
        <br />
        In order to facilitate the statistical analysis and data simulation so Creating Code Company combine the following as one software and so called 'probability distribution simulator and statistical analysis software' 
and provide free trial downloading service.
</p>
      <ul>
        <li><span>1</span>Partial ’’probability distribution’’ and partial ’’statistic point estimate value, coefficient and test statistic value simulator’’ </li>
        <li><span>2</span>simulate probability distribution sample software</li>
        <li><span>3</span>’’Statistic analysis software’’</li>
      </ul>
      <p>'Probability distribution simulator and statistical analysis software' adopt 'menu' input method, and people has statistic concept can operate it easily without additional training. The software can run during other programs working on Microsoft windows system without interrupting.
It can process 30,000,000 data analysis rapidly. For example, it only requires 6 minutes (including simulate data) to process ‘’multiple regression analysis’’ using 200 independent variances and each variance has 100,000 data on a Notebook with cpu i7-36630QM. 
</p>
      <p>’’Probability distribution simulator and statistical analysis software’’ functions as following:</p>
      <ul>
        <li><span>1</span>Probability distribution section: 
basic probability distribution (30 continuous probability distribution and 6 discontinuous probability<br />
　 　distribution) simulator, Bayesian probability distribution and joint probability distribution functions and capable show marginal probability<br />
　 　distribution and joint probability distribution of 2 random variances via 2D graphic and 3D graphic. It also can set random variance<br />
　 　range to acquire setting range probability and condition marginal probability distribution and conditional joint probability distribution.
</li>
        <li><span>2</span>Data generator section: 
Output sample data according to above settings.
</li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>Statistical analysis section:<br>
                data input via file directly or from simulator resulted sample, functions as below<br>
                (i)Descriptive statistics (basic version): frequency distribution table, P P plot and Q Q plot<br>
                (ii)One normal population average mean and variance interval estimate and test (with operating characteristic curve graphic and testing function graphic)<br>
                (iii)Two independent or correlation normal population average mean and variance interval estimate and test (with operating characteristic curve graphic and testing function graphic)<br>
                (iv)Interval estimate and test of 2 independent or correlation normal population coefficient (with operating characteristic curve graphic and testing function graphic) <br>
                (v) Variance analysis: 
one-way AVONA, two-way AVONA, one-way AVONA re-sampling, two-way re-sampling, Latin square and three-way AVONA. AVONA, 3 basic assumptions test and multiple comparison methods and graphics <br>
                (vi) Linear model analysis: 
simple linear model, simple curve model, multiple regression analysis, stepwise analysis, curve-straight analysis, process ANOVA at the same time, 3 basic hypothesis test, Durbin-Watson test and graphics
<br>
(vii)Goodness of fit test: 
Pearson Chi-Square test value, non-parametric Kolmogorov–Smirnov test, likelihood ratio test and curve-fitting acquire probability distribution estimate linear and estimate linear value <br />

(viii)Independent test and Homogenous test <br />

(ix)One population proportion and two population proportion interval estimation test <br />

(x) Bayesian probability (layer 8th reachable)
</td>
            </tr>
          </table>
        </li>
      </ul>
      <p>Creating Code Company offer free downloading service on 'simple booklet and statistic textbook partial content' for users self-learning usage until December 31, 2015. If you would like to know the functions and operating details, please refer to 'statistic textbook (combine and demonstrate statistic software and theory)' and ' detailed descriptive operating booklet' for users' operating, paper publishing and teaching. 
The textbook’s price (please refer the textbook purchasing webpage for details), the textbook purchasers own the output result of software business usage (natural person only, not legal person, excluding book published and lecture notes) and free using software right at least 5 years (including updated version). 
This free downloading software which is not a trail but a completed version which offer multidimensional data simulation and statistical analysis. The software can analyze in high speed and operate easily with powerful analyze function which is way over people imagination for statistic software. The free downloading time will commences on March 31, 2014 to December 31, 2015. 
</p>
      <br>
      <br>
      <img src="/en/images/sv-01.gif"/>
      <h5>2.the following software estimate to release on 2014</h5>
      <ul>
        <li><span>1</span>'Dynamic Game Theory analysis software' (the only one in the world)</li>
        <li><span>2</span>'Dynamic OR analysis software' (the only one in the world)</li>
        <li><span>3</span>'Dynamic Fuzzy analysis software' (the only one in the world)</li>
      </ul>
      <br>
      <br>
      <img src="/en/images/sv-01.gif"/>
      <h5>3.Software function introduction</h5>
      <p>Probability distribution transformation simulator (probability model) utilize probability simulator to discover all probability questions</p>
      <ul>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>1</span></td>
              <td>Probability distribution various transformation including one random variance, two random variances or multiple variances. Probability distribution transformation mathematical formula has no limits. It capable to transform even it is not one to one subjective function and offers 64 probability distribution (58 continuous probability distribution, 6 discontinuous probability distribution) to do transformation. And it provides curve-fitting to acquire cumulative probability distribution function estimate formula and random variance estimate formula. There are 2D graphic, 3D graphic and 4D animator graphic and be able to calculate excepted value, variances and other coefficients.   </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>2</span></td>
              <td>It provide various input methods to confirm random variances relations and proper probability distribution with ’’independent same distribution’’, ‘’dependent different distribution’’, ‘’Bayesian probability distribution’’, ‘’excepted value vector and variance covariance matrix’’ and so on. </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>Bayesian probability distribution is 2000 layer reachable. 
Conditional probability distribution parameter can distribute by prior probability distribution and demonstrate by various mathematical functions also process various probability distribution transformation.
</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>4</span></td>
              <td>Various random variance range setting to acquire certain probability and conditional marginal probability distribution and conditional joint probability distribution. It can process various probability distribution transformation according to this requirement.   </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>5</span></td>
              <td width="98%">Designated probability model
for instance, gambler's bankrupt question, lottery collect question. It can demonstrate by probability distribution method and calculate the moment.
</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>6</span></td>
              <td width="98%">Limiting distribution (including Central limited theorem) transformation which allows 2,000 random variance transformations. </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>7</span></td>
              <td>Order statistic value can simulate distribution without limits and various order statistic value </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>8</span></td>
              <td>Mix two probability distribution or above probability distributions or combine them as one probability distribution.</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>9</span></td>
              <td><img src="/en/images/it-05.gif"/></td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>10</span></td>
              <td>Bayesian probability (layer 8th reachable)</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>11</span></td>
              <td>Probability distribution transformation adopt continuous probability distribution and discontinuous probability mixed probability distribution transformation of mathematical relation.</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>12</span></td>
              <td> Process probability distribution of various statistics value
for example, process continuous probability distribution of sample geometric average mean and sample arithmetic average mean. 
</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>13</span></td>
              <td>To solve probability distribution transformation question of triangle function</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>14</span></td>
              <td>To estimate conditional average linear and conditional variance linear (curve line-straight line method) </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>15</span></td>
              <td>Joint probability distribution of two random variances while joint cumulative probability distribution is known to acquire mathematical relation estimated equation of 2 random variances (curve line-straight line method)</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>16</span></td>
              <td>Curve-fitting to find out the best estimated formula adopting control error value </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>17</span></td>
              <td>Output probability distribution graphic and probability simulator data base (optional size)</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>18</span></td>
              <td>To transform mathematical functions into probability distribution simulator data base</td>
            </tr>
          </table>
        </li>
      </ul>
      <p>Statistic point estimation, coefficient and test statistic value simulator demonstrate statistic theorem, point estimate value, coefficient and test statistic value probability distribution and sample distribution by ’’liner model’’ to produce probability distribution graphic, coefficient, probability graphic and test critical value and evaluate statistic data analysis easily. 
        <br />
      Here demonstrate statistic concept and test method by liner model completely and point estimate method adopt 'method of moment'. This software can assist statistic learning and enhance statistical analysis concept also expand population probability distribution of non-normal distribution or error probability distribution. <br />
      Especially people have further understanding and use critical value on 2 population average mean and variance test statistic value, linear model, variance analysis and goodness of fit test, and do not have to develop test statistic value towards Z,t, Chi-square or F distribution. To understand robust further and also know the sample size to test statistic value development. </p>
      <ul>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>1</span></td>
              <td>12 continuous probability distribution take population average mean and population deviation instead of parameter as input standard.  </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>2</span></td>
              <td>While population distribution and sample size are confirmed
The probability distribution and 2 random statistic coefficient of joint probability distribution of 19 kinds statistic coefficient 
(including sample average mean, sample variance, sample geometric average mean, sample harmonic average mean, sample standard deviation, sample MAD is central tendency by sample average mean, sample range, sample mid-range, sample median, sample Q1, sample Q3, sample Q4, IQR, sample skewed coefficient, sample kurtosis coefficient, sample MAD is central tendency by sample median, sample mid-range, sample C.V., sample minimum value and sample maximum value).
Including 2D graphic, 3D graphic and it also calculate excepted value of probability distribution and variances and other specific coefficients.
</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>While population distribution and sample size are confirmed, there are one population average mean and variance test statistic sample distribution. </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>4</span></td>
              <td>While population distribution and sample size are confirmed, there are 2 independent or correlation population average mean and variance test statistic sample distribution. Sample correlation coefficient of 2 correlation population and Zr sampling distribution.</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>5</span></td>
              <td width="98%"> While population distribution and sample size are confirmed, use 'method of moment' to acquire probability distribution of parameter point estimation including marginal probability distribution and joint probability distribution.</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>6</span></td>
              <td width="98%">While population distribution and sample size are confirmed, the test statistic sample distribution of simple linear regression and multiple regression analysis and probability distribution of regression coefficient, also error and residual marginal probability distribution and joint probability distribution. Meanwhile, it provides sample distribution of test statistic value to evaluate variances. </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>7</span></td>
              <td>While population distribution and sample size are confirmed, test statistic value sampling distribution of AVONA and probability distribution of multiple comparison methods and provide test statistic value sampling distribution of AVONA is equal (including one-way AVONA, two-way AVONA, one-way AVONA re-sampling, two-way re-sampling, Latin square etc.). </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>8</span></td>
              <td>Goodness of fit test: Pearson Chi-square, nonparametric Kolmogorov-Smirnov test (K-S test), sampling distribution of likelihood ratio test statistic.  </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>9</span></td>
              <td>Durbin Watson 
when lag=1 sampling distribution of test statistic
</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>10</span></td>
              <td>sample automated correlation coefficient 
when different lag probability distribution  
</td>
            </tr>
          </table>
        </li>
      </ul>
      <p>simulate probability distribution sample software 
It can output 'probability distribution transformation simulator (probability model)' sample data with curve-fitting function. But it does not appear probability simulation result only has partial data. 
</p>
      <p>Durbin Watson model analysis software, 
To test and interval estimate Durbin Watson and White's Model to automated correlation coefficients due to the influence factors including
</p>
      <ul>
        <li><span>1</span>model difference </li>
        <li><span>2</span>error probability distribution </li>
        <li><span>3</span>independent variance </li>
        <li><span>4</span>independent variance value </li>
        <li><span>5</span>lag value </li>
        <li><span>6</span>automated correlation coefficient value</li>
        <li><span>7</span>test statistic value difference</li>
      </ul>
      <p>If automated correlation coefficients contain prior probability distribution and vary sampling distribution of test statistic. LM test statistic sampling distribution and statistic calculated p value output etc. Meanwhile, it estimate MSE effectively and automated correlation coefficients. Users will realize the used Durbin Watson critical value graphic is wrong, LM test is unbelievable erroneous. Time Series Analysis of Econometrics is absolutely inaccurate, people have to recreate this theory.</p>
      <p>Dynamic Game Theory analysis software<br />
      To vary Game Theory evaluated value to random variance of probability distribution or regression line or prior probability produced dynamic analysis. </p>
      <p>Dynamic OR analysis software <br />

To vary OR variances to random variance of probability distribution or regression line or prior probability produced dynamic analysis. Certainly Mrkov chain' concept can replace by Bayesian probability distribution to enlarge model for actual conditions. It does not change actual conditions to pander to Markov chain, however, the model design tally the analysis condition as actual conditions without distance.    
</p>
      <p>Dynamic Fuzzy analysis software<br />

Utilize random variance of probability distribution or regression line or prior probability enhance Fuzzy functions and parameter analysis diversification. 
</p>
        <p>Mathematical and physical point estimation (MLE, MME, UMVUE)
and Goodness of fit test)
<br />

  Utilize probability simulator to find out point estimation probability distribution also to understand statistic point estimate vary easier. There is another point estimate method to adopt goodness of fit test to find out probability distribution of point estimation and make goodness of fit test is proper for statistic parameter estimation. </p>
<br>
      <br>
      <img src="/en/images/sv-01.gif"/>
      <h5>4.Software price</h5>
      <ul>
      <li><span>1</span>'Probability distribution transformation simulator' (probability model) (estimates price USD$30,000, release in 2014)</li>
      <li><span>2</span>'Statistic point estimate value, coefficient and test statistical value simulator'(estimates price USD$10,000, release on June 2014)</li>
      <li><span>3</span>'simulate probability distribution sample software' (estimates price USD$1,000, release on June 2014)</li>
      <li><span>4</span>'Durbin Watson model analysis software'(estimates price USD$20,000, release on July 2014)</li>
      <li><span>5</span>'Dynamic Game Theory analysis software'(estimates price USD$20,000, release in 2015)</li>
      <li><span>6</span>'Dynamic OR analysis software' (estimates price USD$20,000, release in 2015)</li>
      <li><span>7</span>'Dynamic Fuzzy analysis software' (estimates price USD$6,000, release in 2015)</li>
      <li><span>8</span>'Mathematical and physical point estimation (MLE,MME,UMVUE and Goodness of fit test) analysis software'(estimates price<br />
　　 USD$4,000, release on September 2014)</li>
      </ul>
      <p>Above identified prices and releasing dates are temporary. The confirmed price, confirmed releasing dates and more details will be published on Creating Code Company website, and ‘’free trial’’ available for above mentioned software.</p>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->