
<link rel="stylesheet" href="en/css/price.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/en_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>Product Price</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">Home</a> &gt; Product Price </div>
    <!--crumb-->
    <div id="content"> <img src="en/images/sv-01.gif"/>
      <h3> 'Probability distribution stimulator and statistic analysis software' <span> (version 1.0)</span>        Statistic textbook and operating  booklet price  </h3>
      <p>'Probability distribution stimulator and statistic analysis software' (version 1.0) is free trial downloading, the free downloading usage is until December 31, 2015. <br />
<br />
Before December 31, 2015, the software output or software menus including word, voice and image on (academic essay, public presentation, papers, public report, textbook, research program and lecture note) are prohibit to use on the business behaviors. Purchasing 'Creating Code Company's statistic textbook and operating  booklet' please refer the rights and benefits as following 
</p>
      <br />
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>Before  March 31, 2014</th>
        </tr>
        <tr>
          <td><b>Pre-order price USD$600 (English version)</b>
            <p> Cost contains shipping, 2 year membership and lifetime usage free of 'Probability distribution stimulator and statistic analysis software' including upgraded version, the textbook purchasers can use the software's output result, natural person can use it on business behavior but legal person can not use it on business behavior
 </p>
            <span>Note: Business behavior contains essay, published/ public presentation, paper and published/public report (the software output words and graphics ONLY, which does not contain the software menus. The menus and output graphics are prohibit for sound and image usage), other such as book, research plan and lecture notes usage have to be permitted by Creating Code Company. 
Copyright notice, any breach of contract would be considered against Creating Code Company's copyright protection.
</span></td>
        </tr>
      </table>
      <div class="bt"><a href="en/buydl.html"></a></div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>April 1, 2014 to June 30, 2014</th>
        </tr>
        <tr>
          <td><b>Promoted price English version USD$600</b>
            <p> Cost including shipping fee, 2 year membership and lifetime usage free of 'Probability distribution stimulator and statistic analysis software' which includes upgraded version, the textbook purchasers can use the software's output result, natural person can use it on business behavior but legal person can not use it on business behavior
</p>
            <span>Note: Business behavior contains essay, published/ public presentation, paper and published/public report (the software output words and graphics ONLY, which does not contain the software menus. The menus and output graphics are prohibit for sound and image usage), other such as book, research plan and lecture notes usage have to be permitted by Creating Code Company. 
Copyright notice, any breach of contract would be considered against Creating Code Company's copyright protection.
</span></td>
        </tr>
      </table>
      <br />
      <br />
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>After July 1, 2014</th>
        </tr>
        <tr>
          <td><!--<b>定價：新台幣  12,000 元整，<br />
            學生 7 折優惠：新台幣 8,400 元整，<br />
            教師 8 折優惠：新台幣 9,600 元整。<br />
            大批訂購：<br />
            5 本到 10 本，以上價格再打 95 折。<br />
            10 本到 20 本，以上價格再打 9 折。<br />
            20 本到 30 本，以上價格再打 85 折。<br />
            30 本到 50 本，以上價格再打8折。<br />
            50 本到 100 本，以上價格再打 75 折。<br />
            100 本以上，以上價格再打 7 折。<br />
            <br />-->
            English version USD$600 no further discount</b>
            <p>Cost including shipping fee, 2 year membership and lifetime usage free of 'Probability distribution stimulator and statistic analysis software' which excludes upgraded version, the textbook purchasers within 5 years (counting from textbook's arrival date) can use the software's output result, natural person can use it on business behavior but legal person can not use it on business behavior.
</p>
            <span>Note: Business behavior contains essay, published/ public presentation, paper and published/public report (the software output words and graphics ONLY, which does not contain the software menus. The menus and output graphics are prohibit for sound and image usage), other such as book, research plan and lecture notes usage have to be permitted by Creating Code Company. 
Copyright notice, any breach of contract would be considered against Creating Code Company's copyright protection.
</span></td>
        </tr>
      </table>
      <br />
      <p>Current available only in Taiwan R.O.C.<br />
Other countries are available from July 1, 2014<br />
<br />
The price may vary please confirm and check on our official website.
Upgraded version year 2016 (including after 2016), Creating Code Company's 'Probability distribution stimulator and statistic analysis software' may amend software version every half year, and versions available on the company's official website, users can optional choose. If textbook purchasers would like to resell their textbooks, the transferred charge of 'the lifetime  usage and membership qualified' is USD$100, if the purchasers have not complete the transferred procedure, the membership qualified would be recognized the original/registered textbook purchasers. Creating Code Company owns the software program 'menu' copyright. Any form of business behavior (including words, educational training, sound and image) usage are prohibited. Members can have 10 enquiries per year, company will response via image or video. Moreover, members can attend annual meeting (without further charge) and can get 10% off on educational training and free seasonal technology notification (via e-mail). 
</p>
      <br />
      <br />
      <img src="en/images/sv-01.gif"/>
      <h3> Creating Code Company other software price</h3>
      <p> 1.'Probability distribution transformation stimulator' (probability model) <span>(estimates price USD$30,000, release in 2014)</span> <br />
        2.'Statistic point estimate value, coefficient and test statistical value stimulator'<span>(estimates price USD$10,000, release on June 2014)</span> <br />
        3.'Stimulate probability distribution sample software'<span>(estimates price USD$1,000, release on June 2014)</span> <br />
        4.'Durbin Watson model analysis software'<span>(estimates price USD$20,000, release on July 2014)</span> <br />
        5.'Dynamic Game Theory analysis software'<span>(estimates price USD$20,000, release in 2015)</span> <br />
        6.'Dynamic OR analysis software'<span>(estimates price USD$20,000, release in 2015)</span> <br />
        7.'Dynamic Fuzzy analysis software'<span>(estimates price USD$6,000, release in 2015)</span> <br />
        8.'Mathematical and physical point estimation (MLE,MME,UMVUE and Goodness of fit test) analysis software'<span>(estimates price USD$4,000, release on September 2014)</span> <br />
        <br />
        Above identified prices and releasing dates are temporary. The confirmed price, confirmed releasing dates and more details will be published on Creating Code Company website, and ‘’free trial’’ available for above mentioned software.</p>
      <br />
      <br />
      <!--
      <img src="en/images/sv-01.gif"/>
      <p> <b>1. 購書注意事項：</b><br />
        「預約價」客戶請注意，所有預約的書全部於 2014 年 3 月 20 日後寄送。<br />
        「英文版」的發行日期為 2014 年 7 月 1 日後。<br />
        如果書籍有破損或退書，請於貨到後 7 日內，通知創碼公司。</p>
      <p> <b>2. 匯款帳號,請選擇其中之一匯款</b><br />
        1. 郵政劃撥帳號：50289811，Creating Code Company。<br />
      2. 聯邦銀行和平分行活期存款：078-10-7000716，Creating Code Company。</p>
      <p> <b>3. 匯款注意事項：</b><br />
        1. 請核對「匯款帳號與匯款戶名稱」，<br />
        2. 請確定金額(參考前項日期以確定金額)與數量，<br />
        3. 請匯款時附記匯款人姓名，<br />
        4. 匯款後請 e-mail 匯款時間、匯款人姓名、地址、電話，方便聯絡和寄送書籍、軟體，<br />
        5. 創碼公司 e-mail 為 <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com</a><br />
        創碼公司電話：02-29360981<br />
        創碼公司地址：10669 台北市大安區敦化南路二段 180 號 10F<br />
      有關購書問題，請與創碼公司客服人員聯絡。</p>
      -->
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->