
#content{width:575px;margin:0 auto}

#intro{margin:0 0 60px 0}
#intro h3{font:300 37px "微軟正黑體",Microsoft JhengHei;color:#678916;height:150px;
background:url(/zh/images/sv-01.gif) 0 0 no-repeat;padding:78px 0 0 0}
#intro li{padding:7px 0}

#content .article{margin:0 0 60px 0}
#content .article h3{font:300 37px "微軟正黑體",Microsoft JhengHei;height:75px;padding:0 0 0 55px;
background:url(/zh/images/sv-02.gif) 0 0 no-repeat}

