
<link rel="stylesheet" href="/css/buydl.css">


<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>購買/下載</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 購買/下載</div>
    <!--crumb-->
    <div id="content"> <img src="images/sv-01.gif"/>
      <div id="msg">
      <h4>立即預約機率分配模擬器與統計分析軟體！</h4>
      請填寫所需書籍之數量及金額<br />
      email 至創碼公司： <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com<br />
      </a>將有專人與您聯絡協助購買 </div>
<p>
只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。<br>
若價格有所更動，以官網公告的價格為準。<br />
升級版為 2016 年(含)以後的版本。創碼公司的「機率模擬器與統計分析軟體」預定每半年修改一次版本，各版本皆會顯示於官網網頁上，使用者可自行選擇。<br />
所有購買者若轉賣書籍，「終生免費與會員資格」的轉出手續費為新台幣 3000 元整，若未完成轉出手續，會員資格認定以原購買者為準。 <br />
軟體程式中所顯示的「選單畫面」為創碼公司著作權，絕不容許任何形式的商業行為使用 (含文字、教育訓練、語音與影像)。<br />
會員可享有每年 10 次的問題提問，會以書面與影音方式答覆。並可參加年度的討論會(不另外收費)，參加教育訓練可打 9 折以及每季的技術通報免費(以 email 型式傳送)。
</p><br />
<br />

      <img src="images/sv-01.gif"/>
      <h3>購買方式</h3>
      <p> <b>1. 購書注意事項：</b><br />
        「預約價」客戶請注意，所有預約的書全部於 2014 年 3 月 20 日後寄送。<br />
        「英文版」的發行日期為 2014 年 7 月 1 日後。<br />
        如果書籍有破損或退書，請於貨到後 7 日內，通知創碼公司。</p>
      <p> <b>2. 匯款帳號,請選擇其中之一匯款</b><br />
        1. 郵政劃撥帳號：50289811，創碼有限公司。<br />
      2. 聯邦銀行和平分行活期存款：078-10-7000716，創碼有限公司。</p>
      <p> <b>3. 匯款注意事項：</b><br />
        1. 請核對「匯款帳號與匯款戶名稱」，<br />
        2. 請確定金額(參考前項日期以確定金額)與數量，<br />
        3. 請匯款時附記匯款人姓名，<br />
        4. 匯款後請 e-mail 匯款時間、匯款人姓名、地址、電話，方便聯絡和寄送書籍、軟體，<br />
        5. 創碼公司 e-mail 為 <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com</a><br />
        創碼公司電話：02-29360981<br />
        創碼公司地址：10669 台北市大安區敦化南路二段 180 號 10F<br />
      有關購書問題，請與創碼公司客服人員聯絡。<br>
      6. 只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。</p>
<br />
      <br />
      <img src="images/sv-01.gif"/>
      <h3>免費下載 <span> PSCCC中文.rar / 582.76 MB</span></h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="71%" valign="top"><div class="download">
              <h4>一般用戶</h4>
              <a href="https://mega.co.nz/#!f0oQyTgQ!cIKHZU_oadc6kvwqodasWMC6abdy5sqR3nL8-t1x6XQ" target="_blank"><img src="images/icon-1.png"/> MEGA </a> <a href="http://ubuntuone.com/0eNzcDswNmRvsRUATAMt9j" target="_blank"><img src="images/icon-2.png"/> Ubuntuone </a> <a href="https://www.nortonzone.com/pickup/122986?key=4b7S-UQx1UWiVo9JqVS7bAn7TFuGzedIH2fPtZkiMbkKiaxQf-DY4inMWx_oNxAR&amp;src=url" target="_blank"><img src="images/icon-3.gif"/> Nortonzone </a> <a href="https://drive.google.com/file/d/0BwqDhbEyW3lVb1lUdnN5VDhZY1k/edit?usp=sharing" target="_blank"><img src="images/icon-4.png"/> Google Drive </a> <a href="http://1drv.ms/1g9L9gI" target="_blank"><img src="images/icon-5.png"/> Skydrive </a> <a href="http://l.bitcasa.com/dM2Ny4tg" target="_blank"><img src="images/icon-6.png"/> Bitcasa </a> <a href="https://www.idrive.com/idrive/sh/sh?k=d6r9s8n3x9" target="_blank"><img src="images/icon-7.png"/> iDrive </a> <a href="https://shared.com/s98yq64mzr?s=l" target="_blank"><img src="images/icon-8.png"/> SHARED </a> <a href="https://www.dropbox.com/s/t52cpprz5tlsdy4/PSCCC%E4%B8%AD%E6%96%87.rar" target="_blank"><img src="images/icon-9.png"/> Dropbox </a> </div></td>
          <td width="29%" valign="top"><div class="download full">
              <h4>中國地區用戶</h4>
              <a href="http://yunpan.cn/QIJqTm75Vz2ag" target="_blank"><img src="images/icon-10.png"/> 360 云盘 </a> <a href="http://pan.baidu.com/s/1pJx1cJx" target="_blank"><img src="images/icon-11.png"/> 百度云盘 </a>
            </div></td>
        </tr>
      </table>
      <div id="info">
      <b>安裝步驟：</b><br>
1. 檔案下載後解壓縮檔案儲存至 C.磁碟機<br>
2. 確認資料夾取代，點選套用到所有項目<br>
3. 出現此位置已有同名檔案 (user) 視窗，點選複製並取代和套用到所有衝突<br>
4. 檔案會自動在桌面產生軟體捷徑 PSCCC 點選後即可使用<br>
<br>
※ 注意事項：<br>
﹡使用者請務必下載 java 程式才能完整執行此軟體。<br>
﹡本軟體僅能安裝在C磁碟機才能執行，請勿安裝於其他磁碟機。<br>
﹡本軟體使用期限會依據使用者自下載後第一次使用日期開始計算，請使用者敬請注意軟體剩餘時數。<br>
<br>
<b>系統需求：</b><br>
<strong>﹡作業系統：</strong>Windows 7 / 8〈蘋果電腦使用者請自行安裝跨平台 parallel 軟體來使用 windows 環境〉
<br>
<strong>﹡CPU：</strong>Intel Core 2 Duo 2.4 GHz 或 AMD Athlon 64 X2 5600 + 2.8 GHz 以上 CPU<br>
　　　　Intel Core i7 或 AMD Phenom II X6 系列為執行本程式最佳處理器
<br>
<strong>﹡記憶體：</strong>2 至 8 GB 以上
<br>
<strong>﹡硬碟空間：</strong>系統磁碟機至少需有 7 GB 以上</div>

    </div>
    <!--content--> 
  </div>
</div>
<!--container-->