
<link rel="stylesheet" href="/css/buydl.css">


<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>購買/下載</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 購買/下載</div>
    <!--crumb-->
    <div id="content"> <img src="images/sv-01.gif"/>
      <h3> 機率分配模擬器與統計分析軟體
統計書與操作手冊預約說明</h3>
      <br />
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>2014年3月31日以前(含)</th>
        </tr>
        <tr>
          <td><b>預約價：新台幣 2,200 元整(中文版)<br />
            英文版：美金 600 元整(新台幣 18,000 元整)</b>
            <p> 含運費、兩年會員資格及終生免費使用。 <br />
              「機率模擬器與統計分析軟體」含升級版。 <br />
              購買書籍者可終生享有使用此軟體的輸出結果自然人可用於從事商業行為，但法人無此優惠。 </p>
            <span>註：所謂的商業行為只含論文、公開的簡報、文章與公開的報告(只限此軟體輸出的文字與圖，不含此軟體的顯示選單畫面。此軟體的顯示選單畫面與所輸出的圖文均不得作為語音、影像之用)，至於書籍、研究計畫、講義皆須經過本公司許可才能使用。如違反上述行為者，本公司皆認為「違反智慧財產」。</span></td>
        </tr>
      </table>      
      <div id="msg">
      <h4>立即預約！</h4>
      請填寫所需書籍之數量及金額<br />
      email 至創碼公司： <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com<br />
      </a>將有專人與您聯絡協助購買 </div>
<p>
只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。<br>
若價格有所更動，以官網公告的價格為準。<br />
升級版為 2016 年(含)以後的版本。創碼公司的「機率模擬器與統計分析軟體」預定每半年修改一次版本，各版本皆會顯示於官網網頁上，使用者可自行選擇。<br />
所有購買者若轉賣書籍，「終生免費與會員資格」的轉出手續費為新台幣 3000 元整，若未完成轉出手續，會員資格認定以原購買者為準。 <br />
軟體程式中所顯示的「選單畫面」為創碼公司著作權，絕不容許任何形式的商業行為使用 (含文字、教育訓練、語音與影像)。<br />
會員可享有每年 10 次的問題提問，會以書面與影音方式答覆。並可參加年度的討論會(不另外收費)，參加教育訓練可打 9 折以及每季的技術通報免費(以 email 型式傳送)。
</p><br />
<br />

      <img src="images/sv-01.gif"/>
      <h3>購買方式</h3>
      <p> <b>1. 購書注意事項：</b><br />
        「預約價」客戶請注意，所有預約的書全部於 2014 年 3 月 20 日後寄送。<br />
        「英文版」的發行日期為 2014 年 7 月 1 日後。<br />
        如果書籍有破損或退書，請於貨到後 7 日內，通知創碼公司。</p>
      <p> <b>2. 匯款帳號,請選擇其中之一匯款</b><br />
        1. 郵政劃撥帳號：50289811，創碼有限公司。<br />
      2. 聯邦銀行和平分行活期存款：078-10-7000716，創碼有限公司。</p>
      <p> <b>3. 匯款注意事項：</b><br />
        1. 請核對「匯款帳號與匯款戶名稱」，<br />
        2. 請確定金額(參考前項日期以確定金額)與數量，<br />
        3. 請匯款時附記匯款人姓名，<br />
        4. 匯款後請 e-mail 匯款時間、匯款人姓名、地址、電話，方便聯絡和寄送書籍、軟體，<br />
        5. 創碼公司 e-mail 為 <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com</a><br />
        創碼公司電話：02-29360981<br />
        創碼公司地址：10669 台北市大安區敦化南路二段 180 號 10F<br />
      有關購書問題，請與創碼公司客服人員聯絡。<br>
      6. 只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。</p>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->