
<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>聯絡我們</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container" _height="auto">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 聯絡我們</div>
    <!--crumb-->
    <div id="content">
    
	    	<h3>創碼有限公司 <span> Creating code company</span></h3>
			<p> 聯絡人：許吉姒<br>
				地址：10669 台北市敦化南路二段 180 號 10 樓<br>
			電話：02-27360981、02-27360982<br>
			手機：0978-501-575、0983-131-741<br>
			email：<a href="mailto:ccco2012012@gmail.com">ccco2012012@gmail.com</a> <br />
			<br />
			</p>
			
			
			<table class="contact-table">
				  <tr><td colspan="2"><h2>產品說明會</h2></td></tr>
			  <tr>
			      <th>時間：</th>
			      <td>每周星期二與星期四下午2點到3點各一場。</td>
			  </tr>
			  <tr>
			      <th>地點：</th>
			      <td>
				      	創碼公司會議室
			      </td>
			  </tr>
			  <tr>
			      <th class="notify" colspan="2">
							只接受預約，不接受臨時報名。<br />
							歡迎團體指定時間與地點。
			      </th>
			  </tr>
			</table>
			
			
			<table class="contact-table">
				  <tr><td colspan="2"><h2>產品試用</h2></td></tr>
			  <tr>
			      <th>時間：</th>
			      <td>每周星期一到星期五,上午9點30分到11點30分，下午2點30分到4點30分。</td>
			  </tr>
			  <tr>
			      <th>地點：</th>
			      <td>創碼公司會議室</td>
			  </tr>
			  <tr>
			      <th class="notify" colspan="2">
							只接受預約，不接受臨時報名。<br />
							座位有限,請提早預約。
			      </th>
			  </tr>
			</table>
	      
      
      <img id="contact-map" src="<%= image_path("ct-map.jpg") %>"/> </div>
  </div>
</div>
<!--container-->