<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>創碼有限公司│Createing Code Company</title>
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="*機率統計模型軟體免費下載*, 機率模型, 機率模擬, 統計分析, 資料分析, 資料預測, 臨界值軟體"/>
<meta name="description" content="*機率統計模型軟體免費下載* 創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。"/>
<meta name="abstract" content="創碼有限公司，具有快速處理大量資料與設計統計機率軟體的能力"/>
<link rel="SHORTCUT ICON" href="images/favicon.ico"/>
<link rel="image_src" href="images/thumb.jpg"/>
<meta property="og:title" content="創碼有限公司"/>
<meta property="og:description" content="*機率統計模型軟體免費下載* 創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。"/>
<meta property="og:site_name" content="創碼有限公司"/>
<meta property="og:image" content="images/thumb.jpg"/>
<meta name="DC.Rights" content="創碼有限公司"/>
<meta name="DC.Date" content="2013-10-09"/>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/index.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44112736-1', 'psccc.com.tw');
  ga('send', 'pageview');

</script>
</head>

<body>
<div style="display:none">
<img src="images/e2.jpg"/><img src="images/z2.jpg"/> </div>
<a href="/zh_TW/" id="zh">中文</a>
<a href="/en/" id="en">English</a>
</body>
</html>
