<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>軟體介紹</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 軟體介紹</div>
    <!--crumb-->
    <div id="content">
      <div id="intro" class="article"> 本公司設計此軟體的方法是採人工智慧,所以容量與速度皆能有效提升。<br>
        程式設計完全自行研發,有關機率分配的驗證是採用動差係數方法<br>
        所有統計驗證資料皆是自我模擬所得。 </div>
      <div id="list" class="article">
        <ul class="list-1">
          <li> 1. The basic probability simulator.</li>
          <li> 2. The probability transformation.</li>
          <li> 3. The probability density function estimated function.<br>
            　the distribution function  estimated function and the random<br>
            　variable value estimated function.</li>
          <li> 4. The moment of random variable or probability model.</li>
          <li> 5. The limit theory (including the law of large number).</li>
          <li> 6. The order statistic .</li>
          <li> 7. The designed probability model.</li>
          <li> 8. The test statistic and the critical value table.</li>
          <li> 9. Baysian analysis.</li>
          <li>10.The regression analysis.</li>
          <li>11. The goodness of fit test.</li>
          <li>12. The multivariate analysis.</li>
        </ul>
        <ul class="list-2">
          <li> 1. 模擬器產生的數字結果其誤差在 1/1000 以內。</li>
          <li> 2. 能夠在 2 分鐘內完成內建機率分配的兩個隨機變數的各種機率分配轉換。</li>
          <li> 3. 可以處理 10000 個以內隨機變數的機率分配轉換,應用於大數法則。</li>
          <li> 4. 有 60 個基本機率分配模擬器，可以完成機率分配與樣本的模擬，樣本資料<br>
            　最大上限為 10,000,000 筆資料，樣本資料模擬後可以直接做統計分析。</li>
          <li> 5. 各種數學方程式要求下做機率分配轉換,可以得到機率分配或樣本模擬資料。</li>
          <li> 6. 機率分配的機率分配函數、機率密度函數與隨機變數值的數學估計方程式。</li>
          <li> 7. 貝氏分析的事前機率與條件機率的模擬。</li>
          <li> 8. 多維變數資料的模擬。</li>
          <li> 9. 隨機變數值域受限後的模擬。</li>
          <li>10. 可以自行設機率分配。</li>
          <li>11. 檢定統計量 (含自行設計或已存在) 的臨界值表的計算。</li>
          <li>12. 複迴歸分析的curve-linear analysis。</li>
          <li>13. 適合度檢定提供 20 個連續機率分配可共分析。</li>
          <li>14. 提供 2D、3D 與 animator 的圖形。</li>
          <li>15. 提供變異數分析與迴歸分析三個基本假設的完整分析。</li>
        </ul>
        <ul class="list-3">
          <li> 1. The probability analysis including the Bayesian analysis.</li>
          <li> 2. The statistical analysis including curve-linear method of linear model.</li>
          <li> 3. The financial engineering.</li>
          <li> 4. The econometric analysis.</li>
          <li> 5. The industrial engineering.</li>
          <li> 6. The artificial neural network.</li>
          <li> 7. The system analysis.</li>
          <li> 8. The simulating data generator and desinged.</li>
          <li> 9. The probability model analysis and simulating.</li>
        </ul>
      </div>
      <h5>本公司軟體可分為兩個主要部分的設計</h5>
      <div id="main" class="article">
        <div class="left">
          <h3>機率模型軟體</h3>
          <h4>1. 母體機率分配的設計：</h4>
          <p>1. 一般的機率分配:<br />
            　如 Uniform, Normal, Shifted exponential...等已知的機率<br />
            　分配,提供58種機率分配, 可以做各種的數學轉換。<br />
            2. 貝氏分析的機率分配模擬器，可提供複雜的事前機率分配與不<br />
            　同層次的條件機率分配。不但可以選擇不同機率分配與參數的<br />
            　數學函數,同時可以做各種的數學轉換。<br />
            3. 蒐集所得資料集(樣本)的機率分配模擬器。<br />
            4. 新的數學函數母體的機率分配模擬器。<br />
            5. 可以產生機率分配資料庫和估計函數與模擬樣本資料。<br />
            <br />
          </p>
          <h4>2. 數學轉換的設計：</h4>
          可以依照客戶指定做出特殊的數學轉換關係。特殊要求可以分為<br />
          1. 轉換的數學函數：可以自行設計與直接使用已提供的數學方程 <br />
          　式做轉換。<br />
          2. 隨機變數範圍限制：可以直接使用已提供的數學方程式做隨機 <br />
          　變數的限制。<br />
          <br />
<h4>3. 所得結果：</h4>
          1. 機率分配、累積機率分配、條件機率分配的2D圖、3D圖與動 <br />
          　態圖(4D)的分析。<br />
          2. 條件機率分配的平均與變異數的曲線圖型與估計方程式。 <br />
          3. 機率分配的係數，含平均數、變異數、偏態係數、峰態係數、 <br />
          　相關係數等。 <br />
          4. 可以估算機率分配累積機率分配的最佳估計方程式。 <br />
          5. 可以估算機率分配的隨機變數值的最佳估計方程式。 <br />
          6. 可以計算機率，亦可以用累積機率找值。 <br />
          7. 可以產生最佳化機率表。 <br />
          8. 機率圖可由限制機率範圍與限制值域方法找出最佳圖型。<br />
          <br />
          <img src="<%= image_path("it-04.gif") %>" /> </div>
        <div class="right">
          <h3>統計分析軟體</h3>
          <p>可以利用機率軟體直接模擬樣本資料(此軟體提供58個機率分配與相關貝氏機率分配),也可以直接輸入樣本資料。<br />
            <br />
          </p>
          <h4>1. 一組樣本：</h4>
          <b>1.敘述統計學:次數分配表與係數：<br />
          </b>
          (1) 分組前：樣本平均數、樣本標準差、樣本變異數、樣本偏態<br />
          　、樣本峰態、樣本四分位數、樣本均方差等。<br />
          (2) 分組後：次數分配表、直方圖、次數多邊圖、肩背圖與樣本 <br />
          　平均數、樣本標準差、樣本變異數。 <br />
          <br />
          <b>2.檢定與區間估計：</b><br />
          (1) 一組常態樣本有關母體平均數與變異數的檢定與區間估計， <br />
          　另有O.C. curve，檢力函數與檢定值的圖解。<br />
          <br />
          <b>3. 適合度檢定-檢定母體機率分配：</b>
          <br />
          (1) 此處提供「皮爾生」卡方統計檢定量(等機率再做分組，先分 <br />
          　組兩種)，無母數統計K-S法，P-P plot，Q-Q plot，最大概 <br />
          　似法(等機率再做分組，先分組兩種)與樣本資料集的估計函 <br />
          　數。一共有10種分析方法。 <br />
          (2) 此軟體可以檢查20種母體機率分配，[Uniform ,Normal, <br />
          　Shifted exponential, Pareto 1, Pareto 2 , Rayleigh, <br />
          　Double exponential, Log normal, Gamma, Beta, <br />
          　Cauchy, Arcsin, Triangular 1, Trapezoid, U- quadratic, <br />
          　Semi-circle, Logistic,Weibull, Pareto 3]。<br />
          (3) 此程式提供最佳化的適合度檢定。 <br />
          (4) 每種分法皆有圖解說明。<br />
          <br />
          <h4>2. 二組獨立與相關樣本：</h4>
          <p>兩組常態樣本有關母體平均數與變異數的檢定與區間估計，另有O.C. curve，檢力函數與檢定值的圖解，此處有兩獨立母體與相關母體，此處同時可以做一組資料的分析。<br />
            <br />
          </p>
          <h4>3. 變異數分析-實驗設計：</h4>
          (1) one way： <br />
          　ANOVA，三個基本假設分析，多重比較法與誤差分析，一 <br />
          　組資料的分析，兩組資料的分析，部分資料的one-way。並 <br />
          　提供樣本資料的散佈圖與殘差圖。 <br />
          (2) two way：<br />
          　ANOVA，三個基本假設分析,多重比較法與誤差分析，一組 <br />
          　資料的分析，兩組資料的分析，各個因子one-way。並提供 <br />
          　樣本資料的散佈圖與殘差圖。<br />
          (3) one way & repeated measures： <br />
          　ANOVA，三個基本假設分析，多重比較法與誤差分析，一 <br />
          　組資料的分析，兩組資料的分析， one-way。並提供樣本資 <br />
          　料的散佈圖與殘差圖。 <br />
          (4) two way & duplication： <br />
          　ANOVA，三個基本假設分析，多重比較法與誤差分析，一<br />
          　組資料的分析，兩組資料的分析，各個因子與交互作用 <br />
          　one-way。並提供樣本資料的散佈圖與殘差圖。 <br />
          (5) latin square： <br />
          　ANOVA，三個基本假設分析，多重比較法與誤差分析，一 <br />
          　組資料的分析，兩組資料的分析，各個因子one-way。並提 <br />
          　供樣本資料的散佈圖與殘差圖。<br />
          (6) three way： <br />
          　ANOVA，三個基本假設分析，多重比較法與誤差分析，一 <br />
          　組資料的分析，兩組資料的分析，各個因子one-way, two <br />
          　way & duplication。並提供樣本資料的散佈圖與殘差圖。<br />
          <br />
          <h4>4. 線性模式-迴歸分析：</h4>
          (1) 簡單迴歸：提供不同的線性分析方法(一般直線分析,沒有截 <br />
          　距的直線分析，標準化直線分析,非一直線分析)。各種圖形 <br />
          　說明(散佈圖、殘插圖、估計線圖、相關係數分析圖、樣本值 <br />
          　與估計值的散佈圖)。誤差分析，三個基本假設分析與樣本值 <br />
          　與估計值的分析。<br />
          (2) 複迴歸：提供不同的線性分析方法(一般直線分析、沒有截距 <br />
          　的直線分析、逐步分析、curve-linear分析)。各種圖形說明( <br />
          　殘插圖,樣本值與估計值的散佈圖)。兩個自變數時更提供3D <br />
          　的散佈圖與估計線圖。誤差分析，三個基本假設分析與樣本 <br />
          　值與估計值的分析。<br />
          <br />
          <h4>5. 獨立性檢定與齊一性檢定：</h4>
          有圖解與「皮爾生」卡方統計量,最大概似法分析。 </div>
      </div>
      <!--main--> 
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->