<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>軟體介紹</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 軟體介紹</div>
    <!--crumb-->
    <div id="content">
      <div id="intro" class="article">「創碼公司」專門研究高科技模擬器的軟體，本公司專長是雲端計算與模擬器<br />
        公司為「統計學名師王淵海」所創，歷經5年研究與創新完成下列產品</div>
      <img src="images/sv-01.gif"/>
      <h5>1. 已發展完成的軟體有</h5>
      <ul>
        <li><span>1</span>「機率分配轉換模擬器(機率模型)」(全世界唯一)。</li>
        <li><span>2</span>「統計學點估計量、係數與檢定統計量模擬器」(全世界唯一)。</li>
        <li><span>3</span>「模擬機率分配樣本的軟體(資料產生器)」(華人世界唯一)。</li>
        <li><span>4</span>「機率分配模擬器與統計分析軟體」(華人世界唯一)。</li>
        <li><span>5</span>「Durbin Watson model分析軟體」(全世界唯一)。</li>
        <li><span>6</span>「數理統計的點估計(MLE,MME,UMVUE與適合度檢定法)分析軟體」
          (全世界唯一)。</li>
      </ul>
      <p> 以上軟體皆屬高速運算與模擬，只要在PC或Note Book上即可使用。<br>
        本公司所發展的機率模擬器與curve fitting為世界唯一，各種數學方程式的機率分配轉換或隨機變數內部限制的機率分配轉換皆可完成。既然可以完成所有機率分配轉換，故統計學的檢定統計量抽樣分配與點估計的機率分配當然可加以模擬，也可得到檢定統計量的臨界值表。</p>
      <p> 此機率模擬器無須高深的數學背景即可輕易完成機率分配的研究與高等統計分析。同時可探討人類數學無法解決的問題，更可檢討過去有關機率與統計的定理與公式正確與否，例如：迴歸的殘差在限制數夠大時會產生中央極限定理的特性，levene test statistic 不是F分配等。</p>
      <p> 也可創造新的解決問題的方法與分析，例如：Durbin Watson 的檢定臨界值並不正確，Durbin Watson檢定統計量的期望值不一定是2，LM test自由度與分配有誤，game theory 的決定值可以為隨機變數，線性規劃的變數可以適合機率分配，fuzzy的機率分配可以不是三角分配而改成常態分配。</p>
      <p> 機率模擬器是一個劃時代的發明，使電腦軟體能夠解決連續性的數學問題，且誤差為1/1000以下，更具有雲端計算的功能。一般性記憶體容量4G以上且無須擁有高速cpu的個人電腦即可使用此模擬器。</p>
      <p>為了讓世界了解「機率模擬器」的功能並回饋社會，加上因為機率模擬器的發明，導致「統計分析軟體」與「模擬機率分配樣本的軟體」不再算是高科技軟體，<br />
        <br />
        故本公司為了便利統計分析與資料模擬而將 </p>
      <ul>
        <li><span>1</span>部分的「機率分配轉換模擬器」與部分的「統計學點估計量、係數與檢定統計量模擬器」</li>
        <li><span>2</span>模擬機率分配樣本的軟體」。</li>
        <li><span>3</span>「統計分析軟體」</li>
      </ul>
      <p>合併為單一軟體，並將其稱之為「機率分配模擬器與統計分析軟體」，且提供免費下載服務。</p>
      <p>「機率分配模擬器與統計分析軟體」採用「選單」的方式輸入，只要具有統計學的概念即可輕易操作，無須其他的操作訓練。此軟體在微軟公司的window作業系統操作時，可與其他程式並行使用且彼此無干擾，亦即使用此軟體的同時亦可同時使用其他程式。<br />
        可以做3千萬筆資料的計算分析，運算速度迅速。舉例而言，在cpu i7-3630QM 的Notebook以200個自變數且每個變數有10萬筆資料做「複迴歸分析」的計算只需要6分種(含模擬資料的時間)即可完成。</p>
      <p>「機率分配模擬器與統計分析軟體」功能如下：</p>
      <ul>
        <li><span>1</span>機率分配部分：基本機率分配(30個連續機率分配與6個間斷機率分配)的模擬器，貝氏機率分配與聯合機率分配的功能，同時可以　　　 2D與3D圖顯示邊際機率分配與兩個隨機變數的聯合機率分配。也可設定隨機變數範圍，得到該設定範圍的機率與條件邊際機率分<br />
          配和條件聯合機率分配。</li>
        <li><span>2</span>資料產生器部分：由上項的設定，輸出樣本資料。</li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>統計分析部分：<br>
                資料可直接由檔案輸入或使用由上項模擬器所得的樣本。功能如下，<br>
                (i)敘述統計學(基本版) ：次數分配表、P P plot與Q Q plot。<br>
                (ii)一個常態母體的平均數與變異數的區間估計與檢定(有作業特性曲線圖與檢力函數圖)。<br>
                (iii)兩個獨立或相關常態母體平均數與變異數的區間估計與檢定(有作業特性曲線圖與檢力函數圖)。<br>
                (iv)兩相關常態母體相關係數的區間估計與檢定，<br>
                (v)變異數分析：一類因子、二類因子、一類因子反覆抽取、二類因子重複抽取、拉丁方格與三類因子，同時可做ANOVA、三個基本假設的檢定、多重比較法與圖示。<br>
                (vi)線性模式分析：簡單線性模式、簡單曲線模式、複迴歸分析、逐步分析、曲線-直線分析，同時可做ANOVA、三個基本假設的檢定、Durbin-Watson
                檢定與圖示。<br>
                (vii)適合度檢定：皮爾生卡方檢定統計量、無母數的K-S法、概度比檢定法與curve-fitting找出機率分配的估計線與值的估計線。<br>
                (viii)獨立性檢定與齊一性檢定。<br>
                (ix)一個母體比例與兩個母體比例區間估計與檢定。<br>
                (x)貝氏機率(可達8層)。 </td>
            </tr>
          </table>
        </li>
      </ul>
      <p>使用期限到2015年12月31日止，為了方便使用者自學與使用，本公司提供「簡易手冊與統計學書的部分內容」免費下載服務。如需詳細了解其功能與操作，本公司另有「統計書(將統計軟體與理論結合與說明)」與「詳細說明的操作手冊」供使用者操作、發表文章與教學。但是該書需收取費用(請詳閱購買書籍的網頁)，擁有該書者可享有該軟體輸出結果的商業使用權(僅限自然人，即個人，而非法人，且不包含出書與講義)與至少五年免費使用此軟體(含更新版)的權利。
        此免費下載軟體非試用版而是「完整版」，提供全方位的資料模擬與統計分析。
        此軟體分析的速度迅速、操作容易且分析功能強大遠超過大家對統計軟體的認知。免費下載時間自2014年3月31日起到2015年12月31日止。 </p>
      <br>
      <br>
      <img src="images/sv-01.gif"/>
      <h5>2.2014年預定完成的軟體為</h5>
      <ul>
        <li><span>1</span>「動態 Game Theory分析軟體」(全世界唯一)。</li>
        <li><span>2</span>「動態 OR分析軟體」(全世界唯一)。</li>
        <li><span>3</span>「動態 Fuzzy分析軟體」(全世界唯一)。</li>
      </ul>
      <br>
      <br>
      <img src="images/sv-01.gif"/>
      <h5>3.各項軟體的功能簡介</h5>
      <p>機率分配轉換模擬器(機率模型)
        利用機率模擬器探討所有的機率議題， </p>
      <ul>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>1</span></td>
              <td>機率分配各種轉換，包含一個隨機變數、兩個隨機變數與多個隨機變數。
                機率分配轉換的數學方程式沒有限制。甚至非1對1且映成函數也可轉換。此處提供64個機率分配(58個連續機率分配、6個間斷機率分配)供轉換使用。並且提供curve-fitting，可以得到累積機率分配函數估計方程式與隨機變數值的估計方程式。圖形有2D圖、3D圖與animator 畫4D圖，且可計算期望值、變異數與其他係數。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>2</span></td>
              <td>提供多種輸入方法確定隨機變數的關係與所適合的機率分配，有「獨立且同一分佈」、「獨立且不同一分佈」、「貝氏機率分配」與「期望值向量與變異數共變異數矩陣」等方法。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>貝氏機率分配，可達2000層。條件機率分配的參數可由事前機率分配並以
                各種數學函數表示，做各種機率分配轉換。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>4</span></td>
              <td>各種隨機變數的範圍設定，得到該設定範圍的機率與條件邊際機率分配和
                條件聯合機率分配。可做此狀況下的各種機率分配轉換。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>5</span></td>
              <td width="98%">特定的機率模型，例如賭徒破產問題，彩券蒐集問題。可以用機率分配方
                式來表現，亦可計算出動差。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>6</span></td>
              <td width="98%">極限分配(包含中央極限定理)的轉換，可容許2000個隨機變數轉換。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>7</span></td>
              <td>順序統計量，沒有分配的限制且各種順序統計量皆可模擬。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>8</span></td>
              <td>混合兩個機率分配或兩個以上的機率分配將其合併成一個機率分配。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>9</span></td>
              <td><img src="images/it-05.gif" width="506" height="133" /></td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>10</span></td>
              <td>貝氏機率(可達8層)。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>11</span></td>
              <td>可採用連續機率分配與間斷機率分配混合型的數學關係之機率分配轉換。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>12</span></td>
              <td>可做各種統計量的機率分配，例如樣本幾何平均數與樣本算術平均數的連
                機率分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>13</span></td>
              <td>可處理三角函數的機率分配轉換問題。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>14</span></td>
              <td>可估算條件平均線與條件變異數線(曲線-直線法)。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>15</span></td>
              <td>兩個隨機變數的聯合機率分配，在聯合累積機率已知時，兩個隨機變數的
                數學關係估計方程式(曲線-直線法)。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>16</span></td>
              <td>Curve-fitting可以採用控制誤差的值，找出最佳的估計方程式。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>17</span></td>
              <td>可輸出機率分配表與機率模擬器的資料庫(size可以自選)。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>18</span></td>
              <td>將數學函數轉換成機率分配的模擬器的資料庫。</td>
            </tr>
          </table>
        </li>
      </ul>
      <p>統計學點估計量、係數與檢定統計量模擬器，
        以「線性模式」說明統計學的定理與點估計量、係數與檢定統計量的機率分配與抽樣分配，能產生機率分配圖、係數、機率表與檢定臨界值。方便統計數據的分析評估。此處完全以線性模式說明統計學的觀念與檢定方法且點估計方法採用「動差法」。<br />
        有此軟體可幫助學習統計學以及加強統計分析的觀念，也可將統計分析擴充到
        非常態分配的母體機率分配或是誤差機率分配。尤其是兩個母體平均數與變異
        數的檢定統計量、線性模式、變異數分析與適合度檢定也可有更深入的了解與
        臨界值可以使用，不必硬將檢定統計量朝Z,t,卡方或F分配發展。對robust有
        更深入的理解，可清楚知道樣本個數對檢定統計量的發展。</p>
      <ul>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>1</span></td>
              <td>12種連續機率分配，以母體平均數與母體標準差代替參數為輸入標準。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>2</span></td>
              <td>在母體分配與樣本個數已確定下，19種統計係數
                (含樣本平均數、樣本變異數、樣本幾何平均數、樣本調和平均數、樣本標準差、樣本MAD以樣本平均數為集中趨勢、樣本全距、樣本中距、樣本中位數、樣本第一四分位數Q1、樣本第三四分位數Q4、IQR、樣本偏態係數、樣本峰態係數、樣本MAD以樣本中位數為集中趨勢、樣本midhange、樣本C.V.、樣本最小值與樣本最大值)
                的機率分配與任兩個統計
                係數的聯合機率分配。圖形有2D圖、3D圖，並且計算統計係數的機率分配的期望值、變異數與其他特定的係數值。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>3</span></td>
              <td>在母體分配與樣本個數已確定時，一個母體的平均數與變異數的檢定統計
                量的抽樣分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>4</span></td>
              <td>在母體分配與樣本個數已確定時，兩個獨立或相關母體的平均數與變異數
                的檢定統計量的抽樣分配。兩個相關母體的樣本相關係數與Zr的抽樣分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>5</span></td>
              <td width="98%">在母體分配與樣本個數已確定時，利用「動差法」所得參數點估計量的機
                率分配，有邊際機率分配與聯合機率分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>6</span></td>
              <td width="98%">在母體分配與樣本個數已確定時，簡單線性模式與複迴歸分析的檢定統計
                量的抽樣分配與迴歸係數的機率分配，誤差與殘差邊際機率分配與聯合機率
                分配。同時提供變異數是否相等檢定統計量的抽樣分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>7</span></td>
              <td>在母體分配與樣本個數已確定時，變異數分析的檢定統計量的抽樣分配與
                多重比較法的機率分配，同時提供變異數是否相等的檢定統計量抽樣分配。
                有一類因子、二類因子、一類因子反覆抽取、二類因子重複抽取、拉丁方格
                等模式。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>8</span></td>
              <td>適合度檢定：皮爾生卡方、無母數的K-S法、概度比檢定法檢定統計量的
                抽樣分配。 </td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>9</span></td>
              <td>Durbin Watson在lag=1時的檢定統計量的抽樣分配。</td>
            </tr>
          </table>
        </li>
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="2%" valign="top"><span>10</span></td>
              <td>樣本自動相關係數在不同lag時的機率分配。</td>
            </tr>
          </table>
        </li>
      </ul>
      <p>模擬機率分配樣本的軟體，<br />
        將「機率分配轉換模擬器(機率模型)」的樣本資料做輸出且具有curve-fitting的功能。但不顯示機率模擬的結果，只有局部的資料。 </p>
      <p>Durbin Watson model分析軟體<br />
        將 Durbin Watson與White的Model對自動相關係數作檢定與區間估計，
        由於影響此檢定的因素有 </p>
      <ul>
        <li><span>1</span>模式的不同</li>
        <li><span>2</span>誤差的機率分配</li>
        <li><span>3</span>自變數個數</li>
        <li><span>4</span>自變數的值</li>
        <li><span>5</span>lag值</li>
        <li><span>6</span>自動相關係數的值</li>
        <li><span>7</span>檢定統計量的不同</li>
      </ul>
      <p>如果自動相關係數具有事前機率分配時，檢定統計量的抽樣分配變化。包含LM test檢定統計量的抽樣分配與統計計算的p value輸出等。同時有效率的估計MSE與自動相關係數。<br>
        使用者會發現原有的Durbin Watson臨界值表是錯的且是錯的離譜，LM test也是錯的令人無法置信。計量經濟學在time series的分析是完全錯誤，人類必須重新建立此套的理論。 </p>
      <p>動態 Game Theory分析軟體， <br />
        將Game Theory的評定值改成機率分配的隨機變數或迴歸線或是具有事前機率，產生動態的分析。 </p>
      <p>動態 OR分析軟體<br />
        將OR的變數值改成機率分配的隨機變數或迴歸線或是具有事前機率，產生動態的分析。當然Markov chain 的觀念可以貝氏機率分配代替，產生更大的模式以符合實際狀況。不是將實際狀況修正符合Markov chain，而是將模型設計符合分析狀況，更貼近實務不產生距離。 </p>
      <p>動態 Fuzzy分析軟體<br />
        利用機率分配的隨機變數或迴歸線或是具有事前機率，將Fuzzy的功能強化，
        使得分析參數更多元。</p>
        <p>數理統計的點估計(MLE,MME,UMVUE與適合度檢定法<br />

  用機率模擬器找到點估計量的機率分配，可以更容易了解統計的點估計量的變化。同時提出另一種點估計方法，採用適合度檢定法找出點估計值的機率分配，讓適合度檢定法可適用於統計學的參數估計。</p>
<br>
      <br>
      <img src="images/sv-01.gif"/>
      <h5>4.軟體價格</h5>
      <ul>
      <li><span>1</span>「機率分配轉換模擬器(機率模型)」，(預定價格美金$30,000，2014年推出)</li>
      <li><span>2</span>「統計學點估計量、係數與檢定統計量模擬器」，(預定價格美金$10,000，2014年6月推出)
</li>
      <li><span>3</span>「模擬機率分配樣本的軟體」，(預定價格美金$1,000，2014年6月推出)</li>
      <li><span>4</span>「Durbin Watson model分析軟體」，(預定價格美金$20,000，2014年7月推出)</li>
      <li><span>5</span>「動態 Game Theory分析軟體」，(預定價格美金$20,000，2015年推出)</li>
      <li><span>6</span>「動態 OR分析軟體」，(預定價格美金$20,000，2015年推出)</li>
      <li><span>7</span>「動態 Fuzzy分析軟體。(預定價格美金$6,000，2015年推出)</li>
      <li><span>8</span>「數理統計的點估計(MLE,MME,UMVUE與適合度檢定法)分析軟體」，  (預定價格美金$4,000，2014年推出9月推出)
</li>
      </ul>
      <p>以上價格與販售日期均為暫定，實際價格、販售日期與詳細內容將刊於創碼公司官網，且這些軟體皆會推出「試用版」。</p>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->