
<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>XXXX</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
