<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>感謝您留言 - 創碼公司</title>
	</head>
	<body>
		<p>您好，</p>
		<p>
			我們已經收到您的問題並將以最快的速度回覆您，<br/>
			並衷心期待您再次來訪！			
		</p>
		<p>
			創碼有限公司
		</p>
	</body>
</html>
