<link rel="stylesheet" href="/zh_TW/css/about.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>關於創碼</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 關於創碼</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <p>創碼有限公司是一家專門研發「統計機率模擬與資料分析軟體」的公司；
          具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。軟體名稱為 P_S_CCC。 <br />
          <br />
          本公司所開發軟體具備高科技軟體的實力與特性，具有強大的數學分析能力與電腦快速處理能力。 <br />
          <br />
          可提供財經界、工業界、產業界、醫學界、商業界、學術界做分析與模擬,同時可應用於一般教學與高科技研究。 <br />
          <br />
          本公司設計此軟體的方法是採人工智慧,所以容量與速度皆能有效提升。程式設計完全自行研發,有關機率分配的驗證是採用動差係數方法,所有統計驗證資料皆是自我模擬所得。 <br />
          <br />
          創碼公司基於機率分析受限機率分配轉換,無法有效的將各種機率方法發揮與機率模型找到,甚至影響統計的分析與檢定統計量臨界值表
          建立.於是開始研發機率模擬軟體,其軟體設計完全遵照機率分配轉換的要求，可以分析各種有關機率分配轉換。機率軟體經歷三年時間
          完成,順便用半年時間完成統計分析軟體的設計。<br />
          <br />
        </p>
        <h3>1. 有關機率分配部分：</h3>
        <p> 無論是間斷型或連續型或兩者兼具的隨機變數，不受隨機變數個數影響 (可做大數法則)，數學轉換方式亦不受限制。可以分析一個隨機變數、兩個隨機變數與多個隨機變數的關係，無論是獨立的隨機變數或是相關的隨機變數 (含貝氏機率分配)。提供機率分配的 2D 圖、3D 圖與動態圖 (4D) 的分析與機率分配的係數與機率分配的估計方程式(curve fitting)與機率表。
          輸入資料時可以選擇不同方法會產生獨立方式或是貝氏方法的要求,更進一步可以處理多維變數的輸入.同時可以再輸入資料後進行值域範圍的設定。<br /><br />
        </p>
        <h3>2. 有關統計部分：</h3>
        <p> 可以直接於機率軟體的設定模擬統計資料或是從檔案中讀取資料,因為有機率軟體做依據,所以採用許多自行設計的檢定統計量與分析方法.並且當樣本資料分析完成後可以回到機率軟體繼續使用,也可以重複使用各種統計分析。
          創碼公司的機率與統計分析軟體為 C 語言所寫可以模組化，為了便利使用者採用選單式的操作；同時採用連接式的程式設計。也就是在做兩組樣本分析時，也可以跳到一組樣本分析。 <br />
          <br />
          <b>特殊統計方法：</b><br />
          1. The curve-linear analysis。<br />
          2. The experimental design 的誤差不指定為 normal distribution。<br />
          3. 正確 Durbin Watson test 的臨界值。<br />
          4. 正確地相關分析的臨界值。<br />
          5. 適合度檢定提供 20 個連續型分配分析,且可得最佳化的參數。<br />
          6. 變異數分析與迴歸分析中檢定變異數相等與否。<br /><br />
        </p>
        <h3>3. 軟體效能：</h3>
        <p> 所得結果數據誤差是在千分之一左右甚至更小。其軟體執行速度是十分快速的，以二個隨機變數轉換在 intel core i7 -3630M 上執行只需要 1 分鐘左右；隨機變數個數多寡與數學函數會影響軟體執行速度。
          一般統計軟體可分為兩個層次: 第一種為計算資料，第二種可以做樣本資料的模擬但是速度慢且不符合雲端計算的要求。
          由於機率模擬器的功能強大與速度快，統計分析軟體不再受制於機率表、資料量與樣本資料的模擬。創碼公司可以提供機率分配轉換找出各種統計量的機率表及能夠接受 100,000,000 筆資料分析，且速度快；例如做複迴歸分析 5,000,000 筆資料和 3 個變數，只要 2 分鐘的時間。或是 30 秒內完成 3,000,000 筆資料的模擬。<br /><br /></p>
        <h3> 4. 提供的服務：</h3>
        <p> 本公司的軟體可以做「母體資料的模擬」、「樣本資料的模擬」與「統計資料的計算」。關於「機率分配轉換」部分是「創碼有限公司」的強項，不但速度快且提供各種客製化的模擬軟體設計。對長期受到機率分配轉換限制的分析可以得到突破性的發展，在機率論與統計學上不必受制於數學轉換可以進行各種數學分析。
          由於此模擬技術十分特別，創碼有限公司歷經三年的研發才有此成果。目前全世界只有本公司擁有此項「機率分配轉換模擬器」的技術，可以說是「數值分析」的重大進步。當然機率軟體的提升，導致統計分析軟體可以產生人工智慧與最佳化的分析。</p>
      </div><!--left-->
      <div class="right">
        <div class="up">
          <h3>機率模型軟體</h3>
          <p>可分為三個部分<br />
            1. 母體機率分配的設計<br />
            2. 數學轉換的設計<br />
            3. 所得結果</p>
        </div>
        <div class="down">
          <h3>統計分析軟體</h3>
          <p>可以利用機率軟體直接模擬樣本<br />
            資料(此軟體提供58個機率分配與<br />
            相關貝氏機率分配)，也可以直接<br />
            輸入樣本資料。 </p>
        </div>
        <div class="social-link"> <a href="https://www.facebook.com/pages/%E5%89%B5%E7%A2%BC%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/234566506732005" target="_blank"> <img src="/zh_TW/images/f1.png"/>
          <p>創碼有限公司官方粉絲團</p>
          </a> </div>
        <div class="social-link"> <a href="https://www.facebook.com/groups/1413815795552174/" target="_blank"> <img src="/zh_TW/images/f1.png"/>
          <p>創碼有限公司官方臉書社團</p>
          </a> </div>
        <div class="social-link"> <a href="https://twitter.com/ccco2012012" target="_blank"> <img src="/zh_TW/images/f2.png"/>
          <p>創碼有限公司官方推特</p>
          </a> </div>        
      </div><!--right--> 
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->