html{background:url(/images/l-01.jpg) 0 0 repeat-x #446878}
body{width:1321px;background:url(/images/l-02.jpg) 0 0 no-repeat;height:915px;margin:0 auto;text-align:center;padding:320px 0 0 0}

a{display:inline-block;width:273px;height:54px;text-indent:-9999px;margin:0 25px}

#zh{background:url(/images/z1.jpg)}
#zh:hover{background:url(/images/z2.jpg)}

#en{background:url(/images/e1.jpg)}
#en:hover{background:url(/images/e2.jpg)}