
#content{width:900px;margin:0 auto;font-size:15px;line-height:1.7em}
#intro{border-radius:10px;border:1px solid #e0e0e0;color:#117884;
text-align:center;padding:35px 0;font-weight:900;background:#EFF7FB}

#content .article{margin:0 0 50px 0}

#list ul{padding:50px 0 50px 350px}
.list-1{background:url(/images/it-01.jpg) 85px center no-repeat}
.list-2{background:url(/images/it-02.jpg) 85px center no-repeat}
.list-3{background:url(/images/it-03.jpg) 85px center no-repeat}

#content h5{font:300 35px "微軟正黑體",Microsoft JhengHei;padding:20px 0;color:#0e5e7d}

#content li{margin:20px 0;font-weight:900}
#content li span{display:inline-block;width:25px;height:25px;color:#fff;background:#5BB3E8;border-radius:50%;text-align:center;margin:0 10px 0 0}

#content p{padding:10px 0}