
#content{width:800px;margin:0 auto;font-size:15px;line-height:1.7em}
#intro{border-radius:10px;border:1px solid #e0e0e0;color:#117884;
text-align:center;padding:35px 0;font-weight:900;background:#EFF7FB}

#content .article{margin:0 0 50px 0}

#content h3{font:300 2.5em "微軟正黑體",Microsoft JhengHei;padding:20px 0;color:#0e5e7d}
#content h3 span{font-size:.4em;font-weight:900}

#content table{border:1px solid #DDDDDD;}
#content th{background:#678916;color:#fff;text-align:left;padding:15px;font:900 1.1em "微軟正黑體",Microsoft JhengHei}
#content td{padding:15px;background:#fff}
#content b{font:900 1.2em "微軟正黑體",Microsoft JhengHei;color:#e02954;line-height:1.7em}

#content p{padding:10px 0}
#content span{font-size:.8em;line-height:1.5em}

#content .bt{padding:50px 0;text-align:center}
#content .bt a{display:inline-block;background:url(../images/pr-01.jpg) 0 0 no-repeat;width:325px;height:70px}
#content .bt a:hover{background:url(../images/pr-02.jpg) 0 0 no-repeat}