
/*-----------------------------------------------------------------------全域---*/

html{width:100%}
body{font:300 16px "微軟正黑體",Microsoft JhengHei;color:#333}
a{font:300 16px "微軟正黑體",Microsoft JhengHei;text-decoration:none}
.limit{width:1024px;margin:0 auto;position:relative}

/*-----------------------------------------------------------------------導航---*/

#top{min-width:1024px;height:65px;background:url(../images/top.jpg) center 0 no-repeat #13374D}
#top h1{float:left;position:relative;top:5px}
#top h1 a{display:block;background:url(../images/h1.png) 0 0 no-repeat;width:222px;height:50px;text-indent:-7777px}

#nav{float:right;padding:35px 0 0 0}
#nav li{float:left;margin:0 10px}
#nav > li > a{color:#ececec;font:300 16px "微軟正黑體",Microsoft JhengHei;padding:0 0 7px 0;display:inlinbe-block;position:relative;}
.menu{position:absolute;background:#fff;border-radius:5px;padding:10px 15px;top:62px;display:none;z-index:9}
.menu a{font-size:15px;line-height:1.7em;color:#df2953}
.menu a:hover{color:#EA6683}
#nav > li:hover .menu{display:block}
#nav .active > a{border-bottom:3px solid #91F3FE;text-shadow:0 0 25px #91F3FE;color:#91F3FE}
#nav > li > a:hover{color:#91F3FE}

/*
#top ul{overflow:hidden;width:670px;position:absolute;right:0;top:0;height:65px;padding:35px 0 0 0}
#top ul li{float:left;width:80px; text-align: right}
#top ul a{color:#ececec;font:300 16px "微軟正黑體",Microsoft JhengHei;padding:0 0 7px 0}
#top ul a:hover,#top ul .active a{color:#91F3FE}
#top ul .active a{border-bottom:3px solid #91F3FE;text-shadow:0 0 25px #91F3FE;}
*/

/*-----------------------------------------------------------------------頁首---*/

#banner{min-width:1024px;height:100px;background:url(../images/banner.jpg) center 0 repeat-x;padding:35px 0 0 0}
#banner h2{font:300 55px "Helvetica",微軟正黑體,Microsoft JhengHei;color:#fff;letter-spacing:.1em}

/*-----------------------------------------------------------------------頁身---*/

#crumb{height:80px;padding:10px 0 0 0}
#crumb,#crumb a{font-size:14px;color:#02263a}
#crumb a:hover{border-bottom:1px solid #02263a}

#container{background:url(../images/content.gif);padding:0 0 50px 0;}

/*-----------------------------------------------------------------------頁尾---*/

#footer{min-width:1024px;background:#02263A;color:#fff;padding:25px 0 20px 0;font-size:14px;clear:both}

