
#banner{height:367px;background:image-url("index-banner.jpg") center 0 no-repeat #F5F5F5;border-bottom:1px solid #DADADA}
#banner h2{display:none}

#container{line-height:1.7em;padding:30px 0 50px 0;}
#container .limit{width:960px}
#container .article{margin:0 0 45px 0}

#intro{background:image-url("index-01.gif") center 150px no-repeat #EFF7FB;border-radius:10px;border:1px solid #e0e0e0;color:#117884;
text-align:center;padding:35px 0;font-weight:900}
#intro span{color:#dd2853}

#software td{padding:0 0 0 150px}
#software td a{display:block;width:220px;height:47px;text-indent:-7777px}
#software h3{font:300 36px "微軟正黑體",Microsoft JhengHei}
#software .left{background:image-url("index-02.gif") 0 0 no-repeat}
#software .left h3{color:#0e5e7d}
#software .left a{background:image-url("index-04.jpg") 0 0 no-repeat}
#software .right{background:image-url("index-03.gif") 0 0 no-repeat}
#software .right h3{color:#3c590b}
#software .right a{background:image-url("index-05.jpg") 0 0 no-repeat}
#software span{font:300 14px "微軟正黑體",Microsoft JhengHei;color:#a4a5a3;text-align:center;display:block;padding:20px 0}
#software span a{font:300 14px "微軟正黑體",Microsoft JhengHei;color:#0870b2;text-decoration:underline}

#service h4{text-align:center;font:900 24px "微軟正黑體",Microsoft JhengHei;height:40px}
#service h3{font:900 40px "微軟正黑體",Microsoft JhengHei;background:image-url("index-07.gif") center 0 no-repeat;height:253px;color:#fff;text-align:center;padding:70px 0 0 0}
#service td{background:image-url("index-06.gif") 0 0 no-repeat;font-size:15px}
#service span{font:900 18px Helvetica;color:#e02954;display:inline-block;width:32px;text-align:center;margin:0 10px 0 0}
#service li{height:33px;padding:4px 0 0 0;margin:0 0 15px 0}

#note{background:image-url("index-note.jpg") center 0 no-repeat;text-align:center;height:258px;padding:70px 0 0 0}
#note h3{font:300 36px "微軟正黑體",Microsoft JhengHei;color:#fff;height:60px}
#note p{color:#fff}


#plus{color:#dd2853;font:900 25px "微軟正黑體",Microsoft JhengHei;text-align:center;position:relative;top:-13px}