
#content{width:900px;margin:0 auto;font-size:15px;line-height:1.7em}
#intro{border-radius:10px;border:1px solid #e0e0e0;color:#117884;
text-align:center;padding:35px 0;font-weight:900;background:#EFF7FB}

#content .article{margin:0 0 50px 0}

#list ul{padding:50px 0 50px 350px}
.list-1{background:image-url("it-01.jpg") 85px center no-repeat}
.list-2{background:image-url("it-02.jpg") 85px center no-repeat}
.list-3{background:image-url("it-03.jpg") 85px center no-repeat}

#content h5{font:900 35px "微軟正黑體",Microsoft JhengHei;text-align:center;height:100px}

#main{overflow:hidden}
#main .left{width:50%;float:left}
#main .left h3{color:#0e5e7d;background:image-url("index-02.gif") 0 0 no-repeat}
#main .right{width:50%;float:right}
#main .right h3{color:#3c590b;background:image-url("index-03.gif") 0 0 no-repeat}

#main h4{font:300 18px "微軟正黑體",Microsoft JhengHei;color:#be0000}
#main h3{font:300 36px "微軟正黑體",Microsoft JhengHei;height:180px;padding:50px 0 0 150px}