
<link rel="stylesheet" href="zh/css/contact.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>聯絡我們</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container" _height="auto">
    <div class="limit">
      <div id="crumb"><a href="index.html">首頁</a> &gt; 聯絡我們</div>
      <!--crumb-->
      <div id="content">
        <h3>創碼有限公司 <span> Creating code company</span></h3>
        <p> 地址：10669 台北市敦化南路二段 180 號 10 樓<br>
          電話：02-27360981、02-27360982<br>
          手機：0978-501-575、0983-131-741<br>
          服務時間：周一至周五，上午 9 點至下午 5 點<br />
          email：<a href="mailto:ccco2012012@gmail.com">ccco2012012@gmail.com</a> <br />
          <br />
        </p>
        <img src="zh/images/ct-map.jpg"/> </div>
    </div>
  </div>
  <!--container-->