<link rel="stylesheet" href="/zh/css/info.css">


<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>機率分配模擬器與統計分析軟體</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 現有產品 &gt; 機率分配模擬器與統計分析軟體</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3> 機率分配模擬器<br>
          與統計分析軟體</h3>
        <ul>
          <li><a href="info.html">軟體說明</a></li>
          <li class="active"><a href="detail.html">功能解釋</a></li>
          <li><a href="feature.html">軟體特色</a></li>
        </ul>
        <div class="bt"> <a href="buydl.html"></a> </div>
      </div>
      <div class="right" id="detail">
        <h5>機率分配模擬器與統計分析軟體功能解釋</h5>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>單元</th>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_01.pdf" target="_blank">貝式定理</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_02.pdf" target="_blank">一組樣本</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_03.pdf" target="_blank">兩組樣本</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_04.pdf" target="_blank">實驗設計</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_05.pdf" target="_blank">迴歸分析</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_06.pdf" target="_blank">一個母體比例</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_07.pdf" target="_blank">兩個母體比例</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_08.pdf" target="_blank">獨立性檢定</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_09.pdf" target="_blank">齊一性檢定</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_10.pdf" target="_blank">適合度檢定</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_11.pdf" target="_blank">多變異量分析</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_12.pdf" target="_blank">機率分配模擬器</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_13.pdf" target="_blank">貝氏分配的機率分配模擬器</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_14.pdf" target="_blank">模擬樣本資料的功能</a></td>
  </tr>
  <tr>
    <td><a href="/uploads/files/pdf/zh/manual_15.pdf" target="_blank">兩個相關母體相關係數檢定</a></td>
  </tr>
</table>

      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->