
<link rel="stylesheet" href="zh/css/info.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>機率分配模擬器與統計分析軟體</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 現有產品 &gt; 機率分配模擬器與統計分析軟體</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3> 機率分配模擬器<br>
          與統計分析軟體</h3>
        <ul>
          <li><a href="info.html">軟體說明</a></li>
          <li><a href="detail.html">功能解釋</a></li>
          <li class="active"><a href="feature.html">軟體特色</a></li>
        </ul>
        <div class="bt"> <a href="buydl.html"></a> </div>
      </div>
      <div class="right" id="feature"> <img src="zh/images/sv-01.gif" width="126" height="63" />
        <h5>「機率分配模擬器與統計分析軟體」<br>
          的特色</h5>
        <b><span>1</span>機率分配模擬器。</b>
        <p>目前市售軟體皆無此項功能，創碼公司無私免費提供30個連續型的機率分配與6個間斷型的機率分配模擬器，可模擬機率分配的係數與圖示。同時亦可建立貝氏機率分配的事前機率分配與條件機率分配，且參數的函數功能具有30個以上的數學方程式，此模擬功能為創世之舉。模擬聯合機率分配與邊際機率分配，可用3D圖與2D圖顯示。</p>
        <b><span>2</span>快速與巨量的資料產生器。</b>
        <p>利用機率分配模擬器可產生樣本資料，也就是將機率分配當作母體機率分配，由此機率分配模擬樣本資料。母體機率分配可以產生最多3000萬筆資料，且時間只需2分鐘。</p>
        <b><span>3</span>需要設備簡單又省錢。</b>
        <p>只需一般具有4G記憶體和window 7以上的作業系統的PC或是Notebook即可享受雲端級的計算與巨量的分析。 </p>
        <b><span>4</span>簡單地操作方法。</b>
        <p>全部皆是下拉式的選單，只要輸入選擇的功能與數字即可完成指令，不必再學習複雜的操作。</p>
        <b><span>5</span>與其他程式共存於作業系統。</b>
        <p>可與其他程式並行使用，也就是當輸出結果完成時可直接用編輯軟體排版、輸出資料。</p>
        <b><span>6</span>反覆使用單一功能與其他功能的連結。</b>
        <p>例如簡單迴歸分析有10個分析方法，可以執行完其中一個後再執行其他功能，如此可以比對哪種分析方法最佳。<br />
          例如一類因子可以轉換成兩個獨立母體平均數與變異數檢定。 </p>
        <b><span>7</span>多種輸入母體分配的方法。</b>
        <p>提供相關母體與獨立母體的輸入方法，方便使用者使用機率分配模擬器或是產生樣本資料。</p>
        <b><span>8</span>輸出資料具完整性。</b>
        <p>例如迴歸的逐步分析可輸出每一個步驟，方便使用者了解其中的步驟。</p>
        <b><span>9</span>由檢定統計量抽樣分配發展檢定臨界值。</b>
        <p>所有檢定臨界值皆是由機率模擬器轉換所得，有檢定統計量抽樣分配自然檢定
          臨界值是十分準確且不受分配與統計量數學的約制。</p>
        <b><span>10</span>免費且提供中文服務與中文化的軟體。</b>
        <p>此軟體免費，只要加入會員一年可免費問10個問題，以powerpoint或是數位影片回答說明。且此軟體因為台灣人發明，具有繁體中文版。</p>
        <b><span>11</span>此軟體具有完整版權，只提供個人免費使用但不能從事商業行為</b>
          <p>若要從事商業行為請參考「創碼公司統計學與操作手冊價格」頁面。2016年1月1日後本公司此軟體之新版本將會加以收費。</p>
        <b><span>12</span>統計分析功能眾多、方便、高難度、高技術與精確。</b>
        <p>可利用輸入資料或機率分配模擬器產生的樣本資料作統計分析。創碼公司可做機率分配模擬器，故做統計用的抽樣分配亦不是問題。「機率分配模擬器與統計分析軟體」建立許多獨到的檢定統計量，而且較目前所使用的統計量更符合檢定標準。        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">不需要高等數學的基礎，即可明瞭統計學的運作與概念。可利用機率分配模擬器產生的樣本資料作統計分析，了解不同要求下統計分析的差異，無論獨立與不獨立的要求和無特定的機率分配限制(一般只用常態分配)。便利自我學習與老師教學。</td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">作業特性曲線與檢力函數圖。</td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">實驗設計(變異數分析)有10個誤差分配可以選擇與模擬樣本資料，且有多個圖解說明。</td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">迴歸分析，可做曲線-直線法與一般的迴歸分析和最佳的線性模式。</td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">多變量分析，採用迴歸分析將k個變數建立 個直線模式，建立各個變數間的相關模式影響。</td>
          </tr>
          <tr>
            <td align="center" valign="top">6.</td>
            <td valign="top">適合度檢定，有20個連續型的機率分配與7個間斷型的機率分配作為虛無假設。也有智慧型分析找出最適切的參數值。也提供曲線估算法找出最佳的數學估計方程式以解釋樣本資料，此估計方程式可產生機率分配，並提供解釋樣本資料的數學公式。</td>
          </tr>
          <tr>
            <td align="center" valign="top">7.</td>
            <td valign="top">兩相關母體的相關係數檢定的抽樣分配。檢定母體相關係數一個特定值(該值不是0)時，Zr檢定統計量不是對稱分配(Z分配為對稱分配)。創碼公司改以模擬器找臨界值。</td>
          </tr>
          <tr>
            <td align="center" valign="top">8.</td>
            <td valign="top">兩類因子的變異數相等檢定的抽樣分配。目前無此檢定統計量，創碼公司用模擬器找臨界值。</td>
          </tr>
          <tr>
            <td align="center" valign="top">9.</td>
            <td valign="top">Durbin Watson是無灰色地帶且具中央極限定理。</td>
          </tr>
          <tr>
            <td align="center" valign="top">10.</td>
            <td valign="top">可以做「資料礦」分析。</td>
          </tr>
          <tr>
            <td align="center" valign="top">11.</td>
            <td valign="top">可以做8層的貝氏定理。</td>
          </tr>
          <tr>
            <td align="center" valign="top">&nbsp;</td>
            <td valign="top" style="color:#E02954">[  以上功能皆免費   ]</td>
          </tr>          
        </table>
        </p>
        <b><span>12</span>適用對象。</b><br /><br />
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top">1.</td>
            <td width="97%" valign="top">學習統計學的學生與人士，此軟體可以自我學習或作為輔助軟體。無需自備資料，可設定機率分配要求做模擬資料(資料量最高可達3000萬筆)做統計分析，比對各種狀況與分析關係。不必具備數學背景就可利用此軟體進行高等統計學以上課程的研讀，更可以幫助學生做學校作業與專題報告。</td>
          </tr>
          <tr>
            <td valign="top">2.</td>
            <td valign="top">可利用此軟體作高素質的研究和論文。</td>
          </tr>
          <tr>
            <td valign="top">3.</td>
            <td valign="top">可幫助商業或企業或財務或工業或政府部門分析資料與決策。</td>
          </tr>
        </table>
       
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->
