<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= render 'layouts/zh_meta' %>
<title>獨步全球的統計機率模擬與資料分析│創碼有限公司</title>

<link rel="stylesheet" href="zh/css/reset.css">
<link rel="stylesheet" href="zh/css/style.css">
<link rel="stylesheet" href="zh/css/index.css">
    
</head>

<body>
<div id="header">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>獨步全球的統計機率模擬與資料分析<br>
        <span>可提供財經界、工業界、產業界、醫學界、商業界、學術界做分析與模擬，同時可應用於一般教學與高科技研究。</span></h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit"> <a href="zh/buydl.html">
    <div id="plus">-- 統計軟體免費下載 --</div>
    </a><br>
    <div id="intro" class="article"> 創碼有限公司是一家專門研發「統計機率模擬與資料分析軟體」的公司；<br>
      具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。<br>
      本公司所開發軟體具備高科技軟體的實力與特性，具有強大的數學分析能力與電腦快速處理能力<br>
      <span>本公司軟體可分為兩個主要部分</span> </div>
    <div id="software" class="article">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="left"><h3>機率模型軟體</h3>
            <p>可分為三個部分<br>
              1. 母體機率分配的設計<br>
              2. 數學轉換的設計<br>
              3. 所得結果<br>
              <br>
              <br />
            </p>
            <a href="zh/product.html">詳細介紹</a></td>
          <td class="right"><h3>機率分配模擬器<br>
              與統計分析軟體</h3>
            <p>本公司提供免費下載，體驗高科技<br>
              的「雲端級計算」、「人工智慧」、<br>
              「接近雲端級的資料處理能力」。<br>
              <br>
            </p>
            <a href="zh/info.html">詳細介紹</a></td>
        </tr>
      </table>
    </div>
    <div id="service" class="article">
      <h4>創碼公司服務項目</h4>
      <h3>接受設計下列需求的<br>
        模擬軟體</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="56%"><ul>
              <li><span>1</span>統計與機率的模擬軟體設計與資料分析與預測。</li>
              <li><span>2</span>動態資料的模擬軟體設計與資料分析。</li>
              <li><span>3</span>貝氏分析法的模擬軟體設計與資料分析與預測(不限前後分配的數量)。</li>
              <li><span>4</span>經濟、財金、保險、管理等商業動態模擬軟體設計與資料分析與預測。</li>
              <li><span>5</span>生物統計的模擬軟體設計與資料分析。</li>
              <li><span>6</span>新的統計量機率表與臨界值的軟體設計與資料分析。</li>
            </ul></td>
          <td width="44%"><ul>
              <li><span>7</span>系統分析與系統整合的軟體設計與資料分析。</li>
              <li><span>8</span>品管資料的模擬軟體設計與資料分析。</li>
              <li><span>9</span>2D、3D與動態圖型與估計函數(curve fitting)的分析。</li>
              <li><span>10</span>電子電機的邏輯設計。</li>
              <li><span>11</span>Failure rate分析。</li>
              <li><span>12</span>其他有關機率與統計應用的領域。</li>
            </ul></td>
        </tr>
      </table>
    </div>
    <div id="note">
      <h3>創碼接受客製化軟體或機率與統計分析服務</h3>
      <p>本公司為服務社會，提供各種客製化的資料分析與模擬軟體設計，將高科技的技術平民化且<br />
        物美價廉。為了推廣「統計與機率的模擬器」觀念，「創碼有限公司」可以為客戶免費做計<br />
        劃前期的資料分析與模擬軟體，等客戶滿意後再收費。</p>
    </div>
  </div>
</div>
<!--container-->
<div id="footer" >
  <div class="limit"> © 2014 Createing Code Company. All rights reserved. </div>
  <!--limit--></div>
<!--footer-->


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44112736-1', 'psccc.com.tw');
  ga('send', 'pageview');

</script>
  
  <!-- Google Code for &#25152;&#26377;&#21517;&#21934; -->
	<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 989030247;
		var google_conversion_label = "vhelCKmPowYQ587N1wM";
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/989030247/?value=0&amp;label=vhelCKmPowYQ587N1wM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>


</body>
</html>
