<link rel="stylesheet" href="zh/css/info.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>機率分配模擬器與統計分析軟體</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 現有產品 &gt; 機率分配模擬器與統計分析軟體</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3> 機率分配模擬器<br>
          與統計分析軟體</h3>
        <ul>
          <li class="active"><a href="info.html">軟體說明</a></li>
          <li><a href="detail.html">功能解釋</a></li>
          <li><a href="feature.html">軟體特色</a></li>
        </ul>
        <div class="bt"> <a href="zh/buydl.html"></a> </div>
      </div>
      <div class="right" id="info">
        <h4>1</h4>
        <p>「統計分析軟體」與「模擬機率分配的樣本軟體」不算是高科技軟體公司，為了便利統計分析與資料模擬，所以將<br />
          <b>1. 部分的「機率分配轉換軟體」，<br />
          2. 模擬機率分配的樣本軟體」，<br />
          3. 「統計分析軟體」，</b> </p>
        <p> 合併成單一軟體，並將其稱之為「機率分配模擬器與統計分析軟體」的產品，且提供免費下載服務，使用期限至2015年12月31日止。為了方便使用者自學與使用，本公司提供「簡易手冊與統計學書的部分內容」的免費下載服務。如需詳細了解其功能與操作方式，本公司另有「統計書(將統計軟體與理論結合與說明)」與「詳細說明的操作手冊」可供使用者操作、發表文章與教學。但該書需要收取費用(請詳閱購買書籍的網頁)，擁有該書者可享有該軟體輸出結果的商業使用權(僅限自然人，即個人，而非法人，且不包含出書與講義)與至少五年免費使用此軟體(包含更新版)的權利。
          此免費下載軟體非試用版而是「完整版」，提供全方位的資料模擬與統計分析。<br>
          此軟體的分析速度迅速、操作容易且分析功能強大遠超過大家對統計軟體的認知。免費下載時間自2014年3月31日起到2015年12月31日止。 </p>
        <h4>2</h4>
        <p>免費下載「機率模擬器與統計分析軟體」的功能介紹.
          「統計分析軟體」已不再是高科技軟體，本公司提供免費下載，為使使用者體驗高科技的軟體，故加入「雲端級計算」、「人工智慧」、「接近雲端級的資料處理能力」的功能。 </p>
        <p><b><span>1</span>雲端級的資料</b><br />
          創碼公司認為3000萬筆以內的數字資料並不可稱為「雲端級」的資料，超過3000萬筆的數字資料才可稱為「雲端資料」。此軟體最高可以分析3000萬筆數字資料，遠超過目前市售的統計分析軟體。 </p>
        <p><b><span>2</span>雲端級計算</b><br />
          計算模擬常態分配32768*2*1024個值只需25秒，將此筆資料(亂數產生的數字)做排序需要30秒。
          迴歸分析有50個自變數與10萬筆資料，模擬樣本資料只需15秒，計算 的反矩陣、迴歸係數與變異數分析表只需要4秒。<br />
          註1：每個常態分配值要透過cosine, sine 函數計算。<br />
          註2：在Laptopi7-3630QM cpu上使用一個執行序。<br />
          註3：此模擬方法不是Monte Carlo 法與數值分析方法。 </p>
        <p><b><span>3</span>使用此軟體時也可同時使用其他軟體</b><br />
          不會相互影響，也就是此軟體只是一個軟體程式並不會控制作業系統。</p>
        <p><b><span>4</span>此軟體可以輸入資料做反覆統計分析</b><br />
          不是輸入一次資料做一個統計分析。
          如果沒有資料可以從模擬器中直接找到樣本資料作統計分析，可以反覆操作不同的情境以便自我學習與了解。 </p>
        <p><b><span>5</span>提供確認「機率模擬器與統計分析軟體」準確性的方法</b><br />
          使用者自己可自行驗證統計學分析方法是否正確。<br />
          <img src="zh/images/if-04.jpg"/></p>
        <p><b><span>6</span>提供資料礦分析功能與方法 </b><br />
          <img src="zh/images/if-05.jpg"/></p>
        <p> 「機率分配模擬器與統計分析軟體」功能如下：<br /><br />

          <b class="child">1. 機率分配部分</b><br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">基本機率分配，有30個連續機率分配與6個間斷機率分配可供使用。</td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">提供多種輸入方法確定隨機變數的關係與所適合的機率分配，有「獨立且同一分佈」、「獨立且不同一分佈」、「貝氏機率分配」與「期望值向量與變異數共變異數矩陣」等方法。</td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">可顯示前三個隨機變數的邊際機率分配與聯合機率分配，可使用2D與3D圖顯示邊際機率分配與兩個隨機變數的聯合機率分配。也可設定隨機變數範圍，得到該設定範圍的機率與條件邊際機率分配和條件聯合機率分配。</td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">可計算機率分配的係數。</td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">可輸出機率分配表與機率模擬器的資料庫(size可以自選)。</td>
          </tr>
        </table>
        </p>
        <p><b class="child">2. 資料產生器部分</b><br />
          將「機率分配部分」的樣本資料輸出並可直接作為統計分析軟體的資料。</p>
        <p><b class="child">3. 統計分析軟體功能解釋,</b><br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" align="center" valign="top">1.</td>
            <td width="97%" valign="top">貝氏定理，最高可處理8層機率。</td>
          </tr>
          <tr>
            <td align="center" valign="top">2.</td>
            <td valign="top">一組樣本(含次數分配)。一個母體平均數與變異數的檢定假設；母體為常態分配，有OC曲線與檢力函數和檢定值的圖解並以抽樣分配為背景。</td>
          </tr>
          <tr>
            <td align="center" valign="top">3.</td>
            <td valign="top">兩組樣本(獨立或相關)，假設母體為常態分配，兩個母體平均數與變異數的檢定與區間估計；母體為常態分配，有OC曲線與檢力函數和檢定值的圖解並以抽樣分配為背景。同時可以做兩相關母體平均數的檢定。</td>
          </tr>
          <tr>
            <td align="center" valign="top">4.</td>
            <td valign="top">實驗設計(變異數分析)，一類因子、一類因子反覆抽取、二類因子、二類因子重複抽取、拉丁方格與三類因子。有ANOVA分析、三個基本假設的檢定與多重比較法和圖解。同時可以將<br>
              (i)一類因子轉成部分的一類因子分析。<br>
              (ii)一類因子反覆抽取轉成一類因子分析。<br>
              (iii)二類因子轉成兩個一類因子分析。<br>
              (iv)二類因子重複抽取轉成兩個一類因子分析與交互作用為一類因子分析。<br>
              (v)拉丁方格轉成三個一類因子分析。<br>
              (vi)三類因子轉成二類因子重複抽取分析。<br>
              一類因子、二類因子與二類因子重複抽取的誤差分配有10個機率分配可以選擇做為模擬產生樣本資料，如果是直接輸入的資料則利用「適合度檢定」確定誤差的母體機率分配。可依照誤差的機率分配所得檢定統計量的抽樣分配(利用機率模擬器所得)找臨界值。 </td>
          </tr>
          <tr>
            <td align="center" valign="top">5.</td>
            <td valign="top">迴歸分析(含複迴歸分析)，簡單迴歸分析與複迴歸分析，更有詳細的stepwise 分析與新發展的curve-linear分析。有ANOVA分析、三個基本假設的檢定與迴歸係數的檢定和圖解。</td>
          </tr>
          <tr>
            <td align="center" valign="top">6.</td>
            <td valign="top">一個母體比例。</td>
          </tr>
          <tr>
            <td align="center" valign="top">7.</td>
            <td valign="top">兩個母體比例，分為獨立或相關與重複置返和不重複置返。</td>
          </tr>
          <tr>
            <td align="center" valign="top">8.</td>
            <td valign="top">獨立性檢定。</td>
          </tr>
          <tr>
            <td align="center" valign="top">9.</td>
            <td valign="top">齊一性檢定。</td>
          </tr>
          <tr>
            <td align="center" valign="top">10.</td>
            <td valign="top">適合度檢定，皮爾生法、LR檢定法、p p plot、Q Q plot、Kolmogrov-Simirnov法與curve-fitting找出機率分配的估計線與值的估計線。<br>
              此處有20個連續母體機率分配與7個間斷型機率分配可供選擇，亦提供圖解與從提供的分配中做一系列的檢定。<br>
              同時有智慧型方法，在最佳狀態下找出所指定的母體機率分配的參數值解釋此組樣本，可代替點估計量。<br />
              無論資料是間斷或是連續curve-fitting皆可利用樣本建立自己的機率分配估計線與值的估計線，建立資料與數學估算式。 </td>
          </tr>
          <tr>
            <td align="center" valign="top">11.</td>
            <td valign="top">多變異量分析，非傳統方法，乃採用多個變數中擇一作為應變數，其他變數作為自變數產生迴歸直線(迴歸直線是從自變數找一個自變數建立線性模式，自變數找兩個自變數建立線性模式，…，全部自變數建立線性模式)。
              可從產生的線性模式了解變數之間的因果關係，建立之間估計、比較差異與相互解釋關係。可以利用此方法探討「資料礦」。
              可利用「期望值向量與變異數共變異數矩陣」的輸入法模擬此分析方法的樣本資料或是用「貝氏機率分配」的輸入法模擬樣本資料。
              以10個變數為例，此處會產生<img src="zh/images/if-06.jpg"/>條迴歸直線。</td>
          </tr>
          <tr>
            <td align="center" valign="top">12.</td>
            <td valign="top">迴歸分析(含複迴歸分析)，簡單迴歸分析與複迴歸分析，更有詳細的stepwise 分析與新發展的curve-linear分析。有ANOVA分析、三個基本假設的檢定與迴歸係數的檢定和圖解。</td>
          </tr>
          <tr>
            <td align="center" valign="top">13.</td>
            <td valign="top">迴歸分析(含複迴歸分析)，簡單迴歸分析與複迴歸分析，更有詳細的stepwise 分析與新發展的curve-linear分析。有ANOVA分析、三個基本假設的檢定與迴歸係數的檢定和圖解。</td>
          </tr>
          <tr>
            <td align="center" valign="top">14.</td>
            <td valign="top">迴歸分析(含複迴歸分析)，簡單迴歸分析與複迴歸分析，更有詳細的stepwise 分析與新發展的curve-linear分析。有ANOVA分析、三個基本假設的檢定與迴歸係數的檢定和圖解。</td>
          </tr>
          <tr>
            <td align="center" valign="top">15.</td>
            <td valign="top">迴歸分析(含複迴歸分析)，簡單迴歸分析與複迴歸分析，更有詳細的stepwise 分析與新發展的curve-linear分析。有ANOVA分析、三個基本假設的檢定與迴歸係數的檢定和圖解。</td>
          </tr>
        </table>
        </p>
        <p> <b><span>7</span>驗證</b><br />
          此軟體提供自我驗證方法，使用者可以成為判斷者 </p>
        <p><b class="child">1. 機率分配部分</b><br />
          只要將產生的機率分配的係數做對照，就可以明白機率分配模擬器所得的結果是否正確。例如常態分配<br />
          <img src="zh/images/if-07.jpg"/> </p>
        <p><b class="child">2. 資料產生器部分</b><br />
          因機率分配部分為正確，則資料產生器部分亦為正確。<br />
        </p>
        <p><b class="child">3. 統計分析軟體部分</b><br />
          可利用「機率分配與資料產生器」製造大量的模擬樣本資料，樣本數量以千萬計。因樣本數量很大，依照大數法則樣本計算的係數會接近母體分配的係數。使用者可依照下列方法自行設定機率分配與參數和樣本大小進行驗證，
          一個負責公司出品的軟體是提供檢驗方法以確認分析功能無誤。<br />
          確認「機率模擬器與統計分析軟體」準確性的方法。<br />
          可利用機率分配模擬器得到巨量的樣本資料，利用統計學分析了解樣本結果與母體分配的關係與差異，即可確認此軟體的準確性。 </p>
        <p> 敘述統計學。<br />
          <img src="zh/images/if-08.jpg"/></p>
        <p> 一個母體平均數與標準差的檢定與區間估計。<br />
          2.1. 母體變異數已知，一個母體平均數的檢定與區間估計。<br />
          <img src="zh/images/if-09.jpg"/><br>
          一個母體平均數與標準差的檢定與區間估計。<br />
          2.2. 母體變異數未知，一個母體平均數的檢定與區間估計。<br />
          <img src="zh/images/if-10.jpg"/><br />
          2.3. 母體平均數已知，一個母體標準差的檢定與區間估計。<br />
          <img src="zh/images/if-11.jpg"/><br />
          2.4. 母體平均數未知，一個母體標準差的檢定與區間估計。<br />
          <img src="zh/images/if-12.jpg"/><br />
          2.5. 母體機率分配的適合度檢定。<br />
          <img src="zh/images/if-13.jpg"/><br />
          確定「一個母體平均數與標準差的檢定與區間估計和適合度檢定」的計算是正確的。<br />
          3. 複迴歸，四個自變數一直線模式，無共線性。<br />
          Population <br />
          X1 is  Normal(mu=10.000000,sigma*sigma=1.000000),<br />
          X2 is  Normal(mu=10.000000,sigma*sigma=100.000000),<br />
          X3 is  Normal(mu=-20.000000,sigma*sigma=25.000000),<br />
          X4 is  Normal(mu=-20.000000,sigma*sigma=16.000000),<br />
          X5 is  Normal(mu=H1,sigma*sigma=1.000000),<br />
          H1( X1,  X2,  X3,  X4 )=<br />
          1.000000+2.000000*X1+3.000000*X2+4.000000*X3+5.000000*X4<br />
          X1,X2,X3,X4,X5 pairs samples and sample size=5000000.<br />
          The linear model estimated line by the simulated sample data.<br />
          <img src="zh/images/if-14.jpg"/><br />
          一直線分析，<br />
          <img src="zh/images/if-15.jpg"/><br />
        <p>此處提供殘差的要求，即殘差和為0且殘差乘以自變數和亦為0。因此軟體運算
          功能強大，可快速計算巨量數字，且同時提供精確的計算結果。可用於自已學習、教學、研究、分析、預測、比對、決策，且此軟體無需任何費用，請使用者好好珍惜與推廣。 </p>
        </p>
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->