
<link rel="stylesheet" href="/zh/css/price.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>產品售價</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 產品售價</div>
    <!--crumb-->
    <div id="content"> <img src="/zh/images/sv-01.gif"/>
      <h3> 「機率分配模擬器與統計分析軟體<span> (第一版,version 1.0)</span>」 <br />
        統計書與操作手冊的價格 </h3>
      <p>「機率分配模擬器與統計分析軟體(第一版,version 1.0)」為免費下載，免費使用期限至2015年12月31日止。2015年12月31日(含)以前，此軟體的輸出或軟體顯示的選單畫面皆不能用於下列商業行為的文字、語音與影像(論文、公開的簡報、文章與公開的報告、書籍、研究計畫、講義)。 <br />
        購買「創碼公司統計學書籍與操作手冊」則可以依照下列權益辦理。</p>
      <br />
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>2014年3月31日以前(含)</th>
        </tr>
        <tr>
          <td><b>預約價：新台幣 4,500 元整(中文版)<br />
            英文版：美金 600 元整(新台幣 18,000 元整)</b>
            <p> 含運費、兩年會員資格及終生免費使用。 <br />
              「機率模擬器與統計分析軟體」含升級版。 <br />
              購買書籍者可終生享有使用此軟體的輸出結果自然人可用於從事商業行為，但法人無此優惠。 </p>
            <span>註：所謂的商業行為只含論文、公開的簡報、文章與公開的報告(只限此軟體輸出的文字與圖，不含此軟體的顯示選單畫面。此軟體的顯示選單畫面與所輸出的圖文均不得作為語音、影像之用)，至於書籍、研究計畫、講義皆須經過本公司許可才能使用。如違反上述行為者，本公司皆認為「違反智慧財產」。</span></td>
        </tr>
      </table>
      <div class="bt"><a href="buydl.html"></a></div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>2014 年 4 月 1 日起至 2014 年 6 月 30 日以前(含)</th>
        </tr>
        <tr>
          <td><b>促銷價：新台幣 7,500 元整，<br />
            英文版：美金 600 元整(新台幣 18,000 元整)</b>
            <p> 含運費、兩年會員資格及終生免費使用。<br />
              「機率模擬器與統計分析軟體」含升級版。<br />
              購買書籍者可終生享有使用此軟體的輸出結果自然人可用於從事商業行為，但法人無此優惠。 </p>
            <span>註：所謂的商業行為只含論文、公開的簡報、文章與公開的報告(只限此軟體輸出的文字與圖，不含此軟體的顯示選單畫面。此軟體的顯示選單畫面與所輸出的圖文均不得作為語音、影像之用)，至於書籍、研究計畫、講義皆須經過本公司許可才能使用。如違反上述行為者，本公司皆認為「違反智慧財產」。</span></td>
        </tr>
      </table>
      <br />
      <br />
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>2014 年 7 月 1 日以後(含)</th>
        </tr>
        <tr>
          <td><b>定價：新台幣  12,000 元整，<br />
            學生 7 折優惠：新台幣 8,400 元整，<br />
            教師 8 折優惠：新台幣 9,600 元整。<br />
            大批訂購：<br />
            5 本到 10 本，以上價格再打 95 折。<br />
            10 本到 20 本，以上價格再打 9 折。<br />
            20 本到 30 本，以上價格再打 85 折。<br />
            30 本到 50 本，以上價格再打8折。<br />
            50 本到 100 本，以上價格再打 75 折。<br />
            100 本以上，以上價格再打 7 折。<br />
            <br />
            *學生價與教師價時,不適用上述打扣價。<br />
            英文版一律 美金600元整(新台幣18,000元整)，無身分數量的差別。</b>
            <p> 1. 含運費、兩年會員資格及終生免費使用。 <br />
              2. 「機率模擬器與統計分析軟體」不含升級版。 <br />
              3. 購買書籍者5年內(於書籍送達之日起算) 自然人享有使用此軟體的輸出結果從事於商業行為之權利，<br />
              　但僅限自然人，法人無此優惠。<br />
            4. 如需享有以上折扣，需於發送預購信件時，於信件中附上相關證件影本以資證明。</p>
            <span>註：所謂的商業行為只含論文、公開的簡報、文章與公開的報告(只限此軟體輸出的文字與圖，不含此軟體的顯示選單畫面。此軟體的顯示選單畫面與所輸出的圖文均不得作為語音、影像之用)，至於書籍、研究計畫、講義皆須經過本公司許可才能使用。如違反上述行為者，本公司皆認為「違反智慧財產」。</span></td>
        </tr>
      </table>
      <br />
      <p>
        只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。<br>
        若價格有所更動，以官網公告的價格為準。
        升級版為 2016 年(含)以後的版本。創碼公司的「機率模擬器與統計分析軟體」預定每半年修改一次版本，各版本皆會顯示於官網網頁上，使用者可自行選擇。
        所有購買者若轉賣書籍，「終生免費與會員資格」的轉出手續費為新台幣 3000 元整，若未完成轉出手續，會員資格認定以原購買者為準。 
        軟體程式中所顯示的「選單畫面」為創碼公司著作權，絕不容許任何形式的商業行為使用 (含文字、教育訓練、語音與影像)。
        會員可享有每年 10 次的問題提問，會以書面與影音方式答覆。並可參加年度的討論會(不另外收費)，參加教育訓練可打 9 折以及每季的技術通報免費(以 email 型式傳送)。 </p>
      <br />
      <br />
      <img src="/zh/images/sv-01.gif"/>
      <h3> 創碼公司其他軟體價格</h3>
      <p> 1.「機率分配轉換模擬器(機率模型)」。<span>(預定價格美金 $30,000，2014 年推出)</span> <br />
        2.「統計學點估計量、係數與檢定統計量模擬器」。<span>(預定價格美金 $10,000，2014 年 6 月推出)</span> <br />
        3.「模擬機率分配樣本的軟體」。<span>(預定價格美金 $1,000，2014 年 6 月推出)</span> <br />
        4.「Durbin Watson model 分析軟體」。<span>(預定價格美金 $20,000，2014 年 7 月推出)</span> <br />
        5.「動態 Game Theory 分析軟體」。<span>(預定價格美金 $20,000，2015 年推出)</span> <br />
        6.「動態 OR 分析軟體」。<span>(預定價格美金 $20,000，2015 年推出)</span> <br />
        7.「動態 Fuzzy 分析軟體。<span>(預定價格美金 $6,000，2015 年推出)</span> <br />
        8.「數理統計的點估計(MLE, MME, UMVUE 與適合度檢定法)分析軟體」<span>(預定價格美金 $4,000，2014 年推出 9 月推出)</span> <br />
        <br />
        以上價格與販售日期均為暫定，實際價格、販售日期與詳細內容將刊於創碼公司官網，且這些軟體皆會推出「試用版」。 </p>
      <br />
      <br />
      <img src="/zh/images/sv-01.gif"/>
      <p> <b>1. 購書注意事項：</b><br />
        「預約價」客戶請注意，所有預約的書全部於 2014 年 3 月 20 日後寄送。<br />
        「英文版」的發行日期為 2014 年 7 月 1 日後。<br />
        如果書籍有破損或退書，請於貨到後 7 日內，通知創碼公司。</p>
      <p> <b>2. 匯款帳號,請選擇其中之一匯款</b><br />
        1. 郵政劃撥帳號：50289811，創碼有限公司。<br />
      2. 聯邦銀行和平分行活期存款：078-10-7000716，創碼有限公司。</p>
      <p> <b>3. 匯款注意事項：</b><br />
        1. 請核對「匯款帳號與匯款戶名稱」，<br />
        2. 請確定金額(參考前項日期以確定金額)與數量，<br />
        3. 請匯款時附記匯款人姓名，<br />
        4. 匯款後請 e-mail 匯款時間、匯款人姓名、地址、電話，方便聯絡和寄送書籍、軟體，<br />
        5. 創碼公司 e-mail 為 <a href="mailto:cccpro180@gmail.com" target="_blank">cccpro180@gmail.com</a><br />
        創碼公司電話：02-29360981<br />
        創碼公司地址：10669 台北市大安區敦化南路二段 180 號 10F<br />
      有關購書問題，請與創碼公司客服人員聯絡。<br>
        6. 只接受中華民國台澎金馬的訂購。其他國家與地區要2014年7月1日後才接受訂購。</p>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->