
<link rel="stylesheet" href="/zh/css/books.css">

<div id="header" _height="none">
  <div id="top">
  <%= render 'layouts/zh_navigator' %>
  </div>
  <!--top-->
  <div id="banner">
    <div class="limit">
      <h2>機率模型軟體</h2>
    </div>
  </div>
  <!--banner--> 
</div>
<!--header-->
<div id="container">
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; 機率模型軟體</div>
    <!--crumb-->
    <div id="content">
      <div class="left">
        <h3>機率論</h3>
        <div class="article">
        <h4>Chapter one - The basis of probability distribution simulator</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/1/Chapter_one_01.pdf">The introduction of probability distribution simulator.</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/1/Chapter_one_02.pdf">The basic probability distribution name and probability density    function.This program has 60 basic probability distribution </a></td>
    <td align="center">002~009</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/1/Chapter_one_03.pdf">The basic probability distribution simulator.</a></td>
    <td align="center">010~089</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/1/Chapter_one_04.pdf">Using the simulation data base to get the estimated function of    distribution function, probability density function and the random    variable value</a></td>
    <td align="center">090~135</td>
  </tr>
</table>
<h4>Chapter two - The marginal probability distribution</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/2/Chapter_two_01.pdf">The introdution.</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/2/Chapter_two_02.pdf">The marginal probability distribution transformation.</a></td>
    <td align="center">002~219</td>
  </tr>
</table>
<h4>Chapter three - The two random variables joint probability distribution</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/3/Chapter_three_01.pdf">The introduction.</a></td>
    <td align="center">001~002</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_02.pdf">The two random variables are iid the special probability    distribution. </a></td>
    <td align="center">003~174</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_03.pdf">The two random variables are independent and same probability distribution,    but the parameters are different. </a></td>
    <td align="center">175~362</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_04.pdf">The two random variables are independent and different    probability distribution. </a></td>
    <td align="center">363~427</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_05.pdf">The two random variables are independent in a given special    range. The conditional marginal probability distribution and the    joint conditional  probability distribution. </a></td>
    <td align="center">428~665</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_06.pdf">There are two dependent random variables. One is priority    probability distribution and the other one is conditional probability    distribution which parameters is the function of the priority    probability distribution. </a></td>
    <td align="center">666~924</td>
  </tr>
  <tr>
    <td align="center" valign="top">7</td>
    <td><a href="/uploads/files/probability/3/Chapter_three_07.pdf">Bi-vairate Normal distribution.</a></td>
    <td align="center">925~955</td>
  </tr>
</table>
<h4>Chapter four - The three or more random variables joint probability distribution</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/4/Chapter_four_01.pdf">The introdution.</a></td>
    <td align="center">0001~0003</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_02.pdf">The three random variables are iid the special probability    distribution. </a></td>
    <td align="center">0004~0143</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_03.pdf">The three random variables are independently and different    probability distribution. </a></td>
    <td align="center">0144~0182</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_04.pdf">The three random variables are iid the special probability    distribution and give a special range. </a></td>
    <td align="center">0183~0220</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_05.pdf">The three random variables are dependently, one is the marginal    probability distribution and the others are conditional probability    distributions. </a></td>
    <td align="center">0221~0273</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_06.pdf">The three random variables are dependently, one is the marginal    probability distribution and the others are conditional probability    distributions. The range of random variables is given a special    region. </a></td>
    <td align="center">0274~0388</td>
  </tr>
  <tr>
    <td align="center" valign="top">7.1</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_07.pdf">The four and more random variables are independently and   identically distributed a same probability distribution.  n=4</a></td>
    <td align="center">0389~0418</td>
  </tr>
  <tr>
    <td align="center" valign="top">7.2</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_08.pdf">The four and more random variables are independently and   identically distributed a same probability distribution. n=10 </a></td>
    <td align="center">0419~0537</td>
  </tr>
  <tr>
    <td align="center" valign="top">7.3</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_09.pdf">The four and more random variables are independently and   identically distributed a same probability distribution. n=20 </a></td>
    <td align="center">0538~0565</td>
  </tr>
  <tr>
    <td align="center" valign="top">8.1</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_10.pdf">The four and more random variables are independently and each     has a individual probability distribution.n=4 </a></td>
    <td align="center">0566~0641</td>
  </tr>
  <tr>
    <td align="center" valign="top">8.2</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_11.pdf">The four and more random variables are independently and each     has a individual probability distribution.n=10 </a></td>
    <td align="center">0642~0684</td>
  </tr>
  <tr>
    <td align="center" valign="top">8.3</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_12.pdf">The four and more random variables are independently and each     has a individual probability distribution.n=20 </a></td>
    <td align="center">0685~0712</td>
  </tr>
  <tr>
    <td align="center" valign="top">9.1</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_10.pdf">The four and more random variables are dependently and each    has a individual probability distribution.n=4 </a></td>
    <td align="center">0713~0782</td>
  </tr>
  <tr>
    <td align="center" valign="top">9.1.7<br />
      │<br />
      9.1.8</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_14.pdf">X1,X2,X3,X4 are dependent random variables.     The variance-covariance matrix is known. </a></td>
    <td align="center">0783~1114</td>
  </tr>
  <tr>
    <td align="center" valign="top">9.2</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_15.pdf">The four and more random variables are dependently and each    has a individual probability distribution. n=10 </a></td>
    <td align="center">1115~1152</td>
  </tr>
  <tr>
    <td align="center" valign="top">9.3</td>
    <td><a href="/uploads/files/probability/4/Chapter_four_16.pdf">The four and more random variables are dependently and each    has a individual probability distribution. n=20</a></td>
    <td align="center">1153~1197</td>
  </tr>
        </table>
<h4>Chapter five - The Moment of random variables</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/5/Chapter_five_01.pdf">The introdution.</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_02.pdf">The computation of moment</a></td>
    <td align="center">002~074</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_03.pdf">correlation coefficient</a></td>
    <td align="center">075~102</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_04.pdf">EE(X2|X1)=E(X2),EE(X3|X1,X2)=E(X3),</a></td>
    <td align="center">103~125</td>
  </tr>
  <tr>
    <td align="center" valign="top">5.1</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_05.pdf">The sample number is random variable. N~Poisson(lamda=1) </a></td>
    <td align="center">126~287</td>
  </tr>
  <tr>
    <td align="center" valign="top">5.2</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_06.pdf">The sample number is random variable. N~Binomial(n=10,p=0.8)</a></td>
    <td align="center">288~357</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/probability/5/Chapter_five_07.pdf">gamble---gambler ruin , collecting coupons and the discrete   random variable parameter has a priority probability distribution. </a></td>
    <td align="center">358~512</td>
  </tr>
        </table>
        <h4>Chapter six - The limiting theory</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/6/Chapter_six_01.pdf">The theory of law of large number.</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_02.pdf">Central limit theorem.<br />
      　2.1 The sample mean.<br />
      　2.2 The sample summation. </a></td>
    <td align="center">002~003<br />
      003~059<br />
      060~141 </td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><p><a href="/uploads/files/probability/6/Chapter_six_03.pdf">Central limit theorem.<br />
      　2.3 The sample variance.<br />
    </a></p>
      <p><a href="/uploads/files/probability/6/Chapter_six_03.pdf">      　2.4 The sample median.<br />
        　2.5 student distribution and F distribution </a></p></td>
    <td align="center">142~221<br />
      222~235<br />
      236~268 </td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_04.pdf">The one sample deleted the effect of parameter effect</a></td>
    <td align="center">269~294</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_05.pdf">The one sample deleted the effect of parameter effect</a></td>
    <td align="center">295~397</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><p><a href="/uploads/files/probability/6/Chapter_six_06.pdf">The maximum of samples that is transferred to the exponential. </a></p></td>
    <td align="center">398~401</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_06.pdf">The minimum of samples that is transferred to the exponential</a></td>
    <td align="center">402~405</td>
  </tr>
  <tr>
    <td align="center" valign="top">7</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_06.pdf">X1,…,Xn iid ~B(1,p),   the discrete random samples functiontransfers to the continuous    random variables. </a></td>
    <td align="center">406~408</td>
  </tr>
  <tr>
    <td align="center" valign="top">8</td>
    <td><a href="/uploads/files/probability/6/Chapter_six_06.pdf">Population mean is zero and Sample variance is replaced by the   sample variance. </a></td>
    <td align="center">409~414</td>
  </tr>
        </table>
        <h4>Chapter seven - The order statistic</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/7/Chapter_seven_01.pdf">The introdution.</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_01.pdf">X1,…,Xn iid~f(x)</a></td>
    <td align="center">001~001</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.1</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_02.pdf">X1,…,X10 iid~U(alpha=-1,beta=1)</a></td>
    <td align="center">002~064</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.2</td>
    <td> <a href="/uploads/files/probability/7/Chapter_seven_03.pdf">X1,…,X10 iid~Normal(mu=50,sigma*sigma=4)</a></td>
    <td align="center">065~127</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.3</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_04.pdf">X1,…,X10 iid~Shifted exponential(lamda=5,c=1)</a></td>
    <td align="center">128~190</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.4</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_05.pdf">X1,…,X10 iid~Pareto1 (lamda=5,c=1)</a></td>
    <td align="center">191~216</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.5</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_06.pdf">X1,…,X10 iid~Pareto2 (lamda=5,c=1)</a></td>
    <td align="center">217~242</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.6</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_07.pdf">X1,…,X10 iid~Rayleigh (lamda=5,c=0)</a></td>
    <td align="center">243~269</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.7</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_08.pdf">X1,…,X10 iid~DE (lamda=5,c=0)</a></td>
    <td align="center">270~295</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.8</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_09.pdf">X1,…,X10 iid~Log_normal (mu=1,sigma*sigma=0.25)</a></td>
    <td align="center">296~321</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.9</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_10.pdf">X1,…,X10 iid~Gamma (alpha=5,beta=2)</a></td>
    <td align="center">322~347</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.10</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_11.pdf">X1,…,X10 iid~Beta(alpha=5,beta=2)</a></td>
    <td align="center">348~373</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.11</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_12.pdf">X1,…,X10 iid~Cauchy (mu=0,sigma=1)</a></td>
    <td align="center">374~379</td>
  </tr>
  <tr>
    <td align="center" valign="top">2.12</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_13.pdf">X1,…,X10 iid~Arcsin (mu=0,c=1) </a></td>
    <td align="center">380~405</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_14.pdf">Xi~f(xi),i=1,2,…,n, X1,X2,…,Xnare independent r.v.'s.</a></td>
    <td align="center">406~457</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/7/Chapter_seven_15.pdf">Xi~f(xi),i=1,2,…,n, X1,X2,…,Xnare dependent r.v.'s.</a></td>
    <td align="center">458~496</td>
  </tr>
        </table>
        <h4>Chapter - eight  The probability model designed</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/8/Chapter_eight_01.pdf">The probability distribution from the mathematical equation.</a></td>
    <td align="center">001~018</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/8/Chapter_eight_02.pdf">The Durbin Watson test of the multiple regression.</a></td>
    <td align="center">019~032</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/8/Chapter_eight_03.pdf">moving average</a></td>
    <td align="center">033~229</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/8/Chapter_eight_04.pdf">moving standard deviation</a></td>
    <td align="center">230~263</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/probability/8/Chapter_eight_05.pdf">The depepndeent random variables series.</a></td>
    <td align="center">264~351</td>
  </tr>
        </table>
        <h4>Chapter - nine  Statistical test statistic and the critical value table</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/9/Chapter_nine_01.pdf">one way ANOVA (analysis of variance)</a></td>
    <td align="center">001~111</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_02.pdf">The two correlation normal population variances test statistic.</a></td>
    <td align="center">112~167</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_03.pdf">The two correlation random variables which one is the uniform    probability distribution and the other is normal probability    distribution, The both of population variances test statistic. </a></td>
    <td align="center">168~223</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_04.pdf">The two correlation random variables which one is the shifted    exponential probability distribution and the other is normal    probability distribution, The both of population variances test    statistic. </a></td>
    <td align="center">224~279</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_05.pdf">The two correlation random variables which one is the arcsin    probability distribution and the other is normal probability    distribution, The both of population variances test statistic. </a></td>
    <td align="center">280~335</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_06.pdf">The correlation coefficient of bivariate normal distribution and    the transformation of 0.5*ln((1+r)/(1-r)). The random variable  is X andthe new pdf of 0.5*ln((1+X)/(1-X)). </a></td>
    <td align="center">336~461</td>
  </tr>
  <tr>
    <td align="center" valign="top">7</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_07.pdf">The Durbin Watson test in the multiple regression model.</a></td>
    <td align="center">462~474</td>
  </tr>
  <tr>
    <td align="center" valign="top">8</td>
    <td><a href="/uploads/files/probability/9/Chapter_nine_08.pdf">The simple regression ANOVA critical value.</a></td>
    <td align="center">475~597</td>
  </tr>
        </table>
        <h4>Chapter - ten  The coefficient of random variable</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/10/Chapter_ten_01.pdf">The sample MAD</a></td>
    <td align="center">001~016</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/10/Chapter_ten_02.pdf">The sample skewed coefficient</a></td>
    <td align="center">017~025</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/10/Chapter_ten_03.pdf">The sample kurtosis coefficient.</a></td>
    <td align="center">026~035</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/10/Chapter_ten_04.pdf">The sample C.V.( coefficient of variation).</a></td>
    <td align="center">036~089</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/probability/10/Chapter_ten_05.pdf">The sample correlation coefficient.</a></td>
    <td align="center">090~110</td>
  </tr>
        </table>
        <h4>Chapter eleven - The Bayesian analysis</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/probability/11/Chapter_eleven_01.pdf">The parameter probability distribution is uniform and   the population mean is affected by the uniform distribution.   Using the sample mean to estimated population mean. </a></td>
    <td align="center">001~107</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/probability/11/Chapter_eleven_02.pdf">The parameter probability distribution is gamma and   the population variance is affected by the gamma distribution.    Using the sample variance to estimated population variance. </a></td>
    <td align="center">108~131</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/probability/11/Chapter_eleven_03.pdf">The parameter probability distribution are uniform and gamma and    the population mean is affected by the uniform distribution   the population variance is affected by the gamma distribution.    Using the sample variance to estimated population mean      And population variance. </a></td>
    <td align="center">132~184</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/probability/11/Chapter_eleven_04.pdf">The special model discussed.</a></td>
    <td align="center">185~198</td>
  </tr>
        </table>

        </div>  
      </div>
      <div class="right">
        <h3>應用統計學</h3>
        <div class="article">
        <h4>Chapter one - The descriptive statistics</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1.1</td>
    <td width="79%"><a href="/uploads/files/statistics/1/Chpater_one_01s.pdf">The sample data set coefficient in directly.</a></td>
    <td align="center">001~008</td>
  </tr>
  <tr>
    <td align="center" valign="top">1.2</td>
    <td><a href="/uploads/files/statistics/1/Chpater_one_01s.pdf">The frequency distribution to analysis data set.</a></td>
    <td align="center">001~008</td>
  </tr>
        </table>
        <h4>Chapter two - One normal population analysis</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/2/Chpater_two_01s.pdf">The population mean analysis</a></td>
    <td align="center">001~020</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/statistics/2/Chpater_two_02s.pdf">The population variance analysis</a></td>
    <td align="center">021~038</td>
  </tr>
        </table>
        <h4>Chapter three - Two normal populations analysis</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/3/Chpater_three_01s.pdf">Two independent population means analysis</a></td>
    <td align="center">001~058</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/statistics/3/Chpater_three_02s.pdf">Two independent  population variances analysis</a></td>
    <td align="center">059~063</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/statistics/3/Chpater_three_03s.pdf">Two dependent population means analysis</a></td>
    <td align="center">064~078</td>
  </tr>
        </table>
        <h4>Chapter four - experimental design</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/4/Chpater_four_01s.pdf">one way analysis</a></td>
    <td align="center">001~121</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/statistics/4/Chpater_four_02s.pdf">Two way analysis</a></td>
    <td align="center">122~255</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/statistics/4/Chpater_four_03s.pdf">Two way &amp; duplication analysis</a></td>
    <td align="center">256~515</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/statistics/4/Chpater_four_04s.pdf">One way &amp; repeated measures analysis</a></td>
    <td align="center">516~526</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/statistics/4/Chpater_four_05s.pdf">Latin square analysis</a></td>
    <td align="center">527~561</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/statistics/4/Chpater_four_06s.pdf">Three way analysis</a></td>
    <td align="center">562~619</td>
  </tr>
        </table>
        <h4>Chapter five - regression analysis</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/5/Chpater_five_01s.pdf">simple linear model</a></td>
    <td align="center">001~133</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/statistics/5/Chpater_five_02s.pdf">multiple regression analysis about two independent variables</a></td>
    <td align="center">134~681</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/statistics/5/Chpater_five_03s.pdf">multiple regression analysis </a></td>
    <td align="center">682~1035</td>
  </tr>
        </table>
        <h4>Chapter six - goodness of fit test</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/6/Chpater_six_01s.pdf">The pearson chi square test statistic   ----The probability of class is known in the first and the frequency       table is established by the known probability. </a></td>
    <td align="center">001~062</td>
  </tr>
  <tr>
    <td align="center" valign="top">2</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_02s.pdf">The pearson chi square test statistic   ----The probability of class is known in the first and the frequency       table is established by the known probability.      The estimated value is the best. </a></td>
    <td align="center">063~124</td>
  </tr>
  <tr>
    <td align="center" valign="top">3</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_03s.pdf">The pearson chi square test statistic   ----The frequency table is established by the tradition method. </a></td>
    <td align="center">125~186</td>
  </tr>
  <tr>
    <td align="center" valign="top">4</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_04s.pdf">The pearson chi square test statistic   ----The frequency table is established by the tradition method.      The estimated value is the best. </a></td>
    <td align="center">187~248</td>
  </tr>
  <tr>
    <td align="center" valign="top">5</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_05s.pdf">The K-S method .</a></td>
    <td align="center">249~290</td>
  </tr>
  <tr>
    <td align="center" valign="top">6</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_06s.pdf">The P-P plot method.</a></td>
    <td align="center">291~331</td>
  </tr>
  <tr>
    <td align="center" valign="top">7</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_07s.pdf">The Q-Q plot method.</a></td>
    <td align="center">332~372</td>
  </tr>
  <tr>
    <td align="center" valign="top">8</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_08s.pdf">The likelihood ratio test statistic   ----The probability of class is known in the first and the frequency       table is established by the known probability. </a></td>
    <td align="center">373~434</td>
  </tr>
  <tr>
    <td align="center" valign="top">9</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_09s.pdf">The likelihood ratio test statistic   ----The frequency table is established by the tradition method. </a></td>
    <td align="center">435~496</td>
  </tr>
  <tr>
    <td align="center" valign="top">10</td>
    <td><a href="/uploads/files/statistics/6/Chpater_six_10s.pdf">The estimated function of the relative frequency table.</a></td>
    <td align="center">497~688</td>
  </tr>
        </table>
        <h4>Chapter seven - Discrete type data test</h4>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2">章節</th>
    <th width="17%">頁數</th>
  </tr>
  <tr>
    <td width="4%" align="center" valign="top">1</td>
    <td width="79%"><a href="/uploads/files/statistics/7/Chpater_seven_01s.pdf">1.1 goodness of fit test<br />
      1.2 independent test<br />
      1.3
      homogeneous test<br />
      1.4 
      One population proportion test ,W.R.<br />
      1.5 
      One population proportion test ,W.O.R.<br />
      1.6
      Two independent population proportion test ,W. R.<br />
      1.7
      Two independent population proportion test ,W.O.R.<br />
      1.8 
      Two dependent population proportion test ,W..R.</a></td>
    <td align="center">001~090</td>
  </tr>
  </table>
        </div>
      </div>
    </div>
    <!--content--> 
  </div>
</div>
<!--container-->
