

<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="Free download-probability statistic model software,Probability model, probability stimulation, statistic analysis, data analysis, data prospect, critical value software"/>
<meta name="description" content="Creating Code Company has developed the 'statistical probability stimulation and data analysis' software, this global unparalleled software is capable to handle tremendous data and to design statistical probability software. Creating Code Company is capable to handle tremendous data and to design statistical probability software."/>
<link rel="SHORTCUT ICON" href="<%= image_path('favicon.ico') %>"/>
<link rel="image_src" href="<%= image_path('thumb.jpg') %>"/>
<meta property="og:title" content="Creating Code Company"/>
<meta property="og:description" content="Creating Code Company has developed the 'statistical probability stimulation and data analysis' software, this global unparalleled software is capable to handle tremendous data and to design statistical probability software. Creating Code Company is capable to handle tremendous data and to design statistical probability software."/>
<meta property="og:site_name" content="Creating Code Company"/>
<meta property="og:image" content="<%= image_path('thumb.jpg') %>"/>
<meta name="DC.Rights" content="Creating Code Company"/>
<meta name="DC.Date" content="2013-10-09"/>

<meta name="keywords" content="Free download-probability statistic model software,Probability model, probability stimulation, statistic analysis, data analysis, data prospect, critical value software" />
<meta name="description" content="Creating Code Company has developed the 'statistical probability stimulation and data analysis' software, this global unparalleled software is capable to handle tremendous data and to design statistical probability software. Creating Code Company is capable to handle tremendous data and to design statistical probability software." />

<title>Creating Code Company<%= " | #{$meta_title}" if !$meta_title.nil? %></title>