
<meta name="keywords" content="機率模型, 機率模擬, 統計分析, 資料分析, 資料預測, 臨界值軟體" />
<meta name="description" content="創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。" />

<title>創碼有限公司<%= "|#{$meta_title}" if !$meta_title.nil? %></title>