

<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="機率模型, 機率模擬, 統計分析, 資料分析, 資料預測, 臨界值軟體"/>
<meta name="description" content="創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。"/>
<meta name="abstract" content="創碼有限公司，具有快速處理大量資料與設計統計機率軟體的能力"/>
<link rel="SHORTCUT ICON" href="<%= image_path('favicon.ico') %>"/>
<link rel="image_src" href="<%= image_path('thumb.jpg') %>"/>
<meta property="og:title" content="創碼有限公司"/>
<meta property="og:description" content="創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。"/>
<meta property="og:site_name" content="創碼有限公司"/>
<meta property="og:image" content="<%= image_path('thumb.jpg') %>"/>
<meta name="DC.Rights" content="創碼有限公司"/>
<meta name="DC.Date" content="2013-10-09"/>

<meta name="keywords" content="機率模型, 機率模擬, 統計分析, 資料分析, 資料預測, 臨界值軟體" />
<meta name="description" content="創碼是一家專門研發「統計機率模擬與資料分析軟體」的公司；具有快速處理大量資料與設計統計機率軟體的能力，設計方法與功能獨步全球。" />

<title>創碼有限公司<%= " | #{$meta_title}" if !$meta_title.nil? %></title>